# 주제

Mini Project - 웹스크래핑 , SQL 진행

### 질문

현재 서울시에서 음식점 창업을 하기 위해 어떤 업종을 잡고 주 타겟층은 어떻게 잡아야 하는가?

Q1. 현재 음식점을 창업을 진행해도 괜찮은가? <br>
Q2. 서울시에서 창업을 한다면 어떤 업종이 유리한가? <br>
Q3. Q2에 해당 되는 업종들의 주 고객은 누구인가? <br>
Q3. 코로나 단계 별 주 소비층은 어떻게 되는가? <br>

## DB 설정

-- 데이터베이스 테이블 설계

1. covid19_data_food <br>
        idx int,
        covid19_year int,
        covid19_month int,
        covid19_level varchar(20) not null,
        covid19_infection int,
        primary key(idx)
        
1. card <br>
       gender varchar(20) not null, 
       age varchar(20) not null, 
       year1 int not null,
       month1 int not null,
       category varchar(20) not null, 
       value int not null
        

1. interest <br>
       year1 int not null,
       month1 int not null, 
       category varchar(20) not null, 
       value int not null)

# 코드 작성
- 아래에 코드를 작성하시면 됩니다

### 코로나 데이터

In [1]:
##### covid 데이터 생성

import pymysql
db = pymysql.connect(host="localhost", port=3306 , user="root", passwd="Lunaric0402!@", db="mywork", charset="utf8") #db 연결
cursor = db.cursor() #객체 생성 sql 실행을 위해 cursor() 객체 생성

sql = """
    create table covid19_data_food (
        idx int,
        covid19_year int,
        covid19_month int,
        covid19_level varchar(20) not null,
        covid19_infection int,
        primary key(idx)
    );
"""

cursor.execute(sql)
db.commit()
db.close()

In [1]:
## Covid 데이터 가져오기

# 코로나 진행
from selenium import webdriver #셀리니움 임포트
import pyautogui #마우스 이벤트
import pymysql
import time

level_list01 = ['20217', '20218', '20219', '202110']
level_list02 = ['202111', '202112', '20221', '20222','20223','20224']
level_list03 = ['20225','20226','20227','20228']

link = 'https://www.google.com/search?q=%EC%BD%94%EB%A1%9C%EB%82%98+%ED%99%95%EC%A7%84%EC%9E%90+%EC%88%98&source=hp&ei=l0j8Yvn0G4uO0ASY9qHoAw&iflsig=AJiK0e8AAAAAYvxWp_Ocd-1Q1cwvqKdDx_XsXLmc3daA&ved=0ahUKEwi5nKTV4Mz5AhULB5QKHRh7CD0Q4dUDCAk&uact=5&oq=%EC%BD%94%EB%A1%9C%EB%82%98+%ED%99%95%EC%A7%84%EC%9E%90+%EC%88%98&gs_lcp=Cgdnd3Mtd2l6EAMyCwgAEIAEELEDEIMBMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEOhEILhCABBCxAxCDARDHARDRAzoECAAQAzoRCC4QgAQQsQMQgwEQxwEQrwE6CAgAEIAEELEDOggILhCABBDUAlAAWO8fYKohaAVwAHgCgAHQAYgBsRWSAQY2LjE3LjGYAQCgAQE&sclient=gws-wiz'
db = pymysql.connect(host="localhost", port=3306 , user="root", passwd="Lunaric0402!@", db="mywork", charset="utf8") #db 연결
cursor = db.cursor() #객체 생성 sql 실행을 위해 cursor() 객체 생성

driver = webdriver.Chrome('./chromedriver') #드라이버 설정
driver.get(link) #링크 접속
driver.maximize_window()

tmp_d = 'empty'
count = 1

for x in range(200,850):
    pyautogui.moveTo(x,700)
    
    covid19_date = '#fc_3 > div > div.PDn9ad.iiUHhf > div.ahjcie.PZPZlf > div.ExnoTd > div.c274Wb'
    date_label = driver.find_element_by_css_selector(covid19_date).text
    
    new_covid19 = '#fc_3 > div > div.PDn9ad.iiUHhf > div.ahjcie.PZPZlf > div.ExnoTd > div.GxwVnb > div:nth-child(1) > span:nth-child(3)'
    covid19_label = driver.find_element_by_css_selector(new_covid19).text
    
    c_year = int(date_label[:4])
    
    if date_label[6:8][-1] == '월':
        c_month = date_label[6:7]
    else:
        c_month = date_label[6:8]
    
    c_day = date_label[10:]

    result = ''
    for z in covid19_label:
        if z != ',':
            result = result + z
        else:
            continue
    
    print(c_year)
    print(c_month)
    
    if str(c_year) + str(c_month) in level_list01:
        c_level = 'level4'
    elif str(c_year) + str(c_month) in level_list02:
        c_level = 'recovery'
    elif str(c_year) + str(c_month) in level_list03:
        c_level = 'clear'
    else:
        c_level = "Null"
    
    if tmp_d == c_day:
        continue
    else:
        emp = c_day
        sql = """
            insert into covid19_data_food
            values ({0}, {1}, {2}, '{3}', {4});
        """.format(count ,c_year ,int(c_month), c_level, int(result))
        print(sql)
        cursor.execute(sql)
        db.commit()
    count += 1 

db.close()

2020
2

            insert into covid19_data_food
            values (1, 2020, 2, 'Null', 73);

2020
2

            insert into covid19_data_food
            values (2, 2020, 2, 'Null', 73);

2020
2

            insert into covid19_data_food
            values (3, 2020, 2, 'Null', 73);

2020
2

            insert into covid19_data_food
            values (4, 2020, 2, 'Null', 73);

2020
2

            insert into covid19_data_food
            values (5, 2020, 2, 'Null', 73);

2020
2

            insert into covid19_data_food
            values (6, 2020, 2, 'Null', 73);

2020
2

            insert into covid19_data_food
            values (7, 2020, 2, 'Null', 73);

2020
2

            insert into covid19_data_food
            values (8, 2020, 2, 'Null', 73);

2020
2

            insert into covid19_data_food
            values (9, 2020, 2, 'Null', 100);

2020
2

            insert into covid19_data_food
            values (10, 2020, 2, 'Null', 169);

2020
2

            insert into covid19_data_food
            values (11, 2020, 2, 'Null', 231);

2020
2

            insert into covid19_data_food
            values (12, 2020, 2, 'Null', 284);

2020
2

            insert into covid19_data_food
            values (13, 2020, 2, 'Null', 505);

2020
2

            insert into covid19_data_food
            values (14, 2020, 2, 'Null', 813);

2020
3

            insert into covid19_data_food
            values (15, 2020, 3, 'Null', 586);

2020
3

            insert into covid19_data_food
            values (16, 2020, 3, 'Null', 851);

2020
3

            insert into covid19_data_food
            values (17, 2020, 3, 'Null', 435);

2020
3

            insert into covid19_data_food
            values (18, 2020, 3, 'Null', 505);

2020
3

            insert into covid19_data_food
            values (19, 2020, 3, 'Null', 448);

2020
3

            insert into covid19_data_food
            values (20, 2020, 3, 'Null', 164);

2020
3

            insert into covid19_data_food
            values (21, 2020, 3, 'Null', 35);

2020
3

            insert into covid19_data_food
            values (22, 2020, 3, 'Null', 114);

2020
3

            insert into covid19_data_food
            values (23, 2020, 3, 'Null', 110);

2020
3

            insert into covid19_data_food
            values (24, 2020, 3, 'Null', 76);

2020
3

            insert into covid19_data_food
            values (25, 2020, 3, 'Null', 74);

2020
3

            insert into covid19_data_food
            values (26, 2020, 3, 'Null', 93);

2020
3

            insert into covid19_data_food
            values (27, 2020, 3, 'Null', 152);

2020
3

            insert into covid19_data_food
            values (28, 2020, 3, 'Null', 147);

2020
3

            insert into covid19_data_food
            values (29, 2020, 3, 'Null', 162);

2020
3

            insert into covid19_data_food
            values (30, 2020, 3, 'Null', 76);

2020
3

            insert into covid19_data_food
            values (31, 2020, 3, 'Null', 100);

2020
3

            insert into covid19_data_food
            values (32, 2020, 3, 'Null', 91);

2020
3

            insert into covid19_data_food
            values (33, 2020, 3, 'Null', 146);

2020
3

            insert into covid19_data_food
            values (34, 2020, 3, 'Null', 78);

2020
3

            insert into covid19_data_food
            values (35, 2020, 3, 'Null', 125);

2020
4

            insert into covid19_data_food
            values (36, 2020, 4, 'Null', 89);

2020
4

            insert into covid19_data_food
            values (37, 2020, 4, 'Null', 86);

2020
4

            insert into covid19_data_food
            values (38, 2020, 4, 'Null', 81);

2020
4

            insert into covid19_data_food
            values (39, 2020, 4, 'Null', 47);

2020
4

            insert into covid19_data_food
            values (40, 2020, 4, 'Null', 53);

2020
4

            insert into covid19_data_food
            values (41, 2020, 4, 'Null', 39);

2020
4

            insert into covid19_data_food
            values (42, 2020, 4, 'Null', 30);

2020
4

            insert into covid19_data_food
            values (43, 2020, 4, 'Null', 32);

2020
4

            insert into covid19_data_food
            values (44, 2020, 4, 'Null', 27);

2020
4

            insert into covid19_data_food
            values (45, 2020, 4, 'Null', 27);

2020
4

            insert into covid19_data_food
            values (46, 2020, 4, 'Null', 22);

2020
4

            insert into covid19_data_food
            values (47, 2020, 4, 'Null', 18);

2020
4

            insert into covid19_data_food
            values (48, 2020, 4, 'Null', 13);

2020
4

            insert into covid19_data_food
            values (49, 2020, 4, 'Null', 9);

2020
4

            insert into covid19_data_food
            values (50, 2020, 4, 'Null', 14);

2020
4

            insert into covid19_data_food
            values (51, 2020, 4, 'Null', 10);

2020
4

            insert into covid19_data_food
            values (52, 2020, 4, 'Null', 10);

2020
4

            insert into covid19_data_food
            values (53, 2020, 4, 'Null', 14);

2020
4

            insert into covid19_data_food
            values (54, 2020, 4, 'Null', 4);

2020
4

            insert into covid19_data_food
            values (55, 2020, 4, 'Null', 9);

2020
5

            insert into covid19_data_food
            values (56, 2020, 5, 'Null', 13);

2020
5

            insert into covid19_data_food
            values (57, 2020, 5, 'Null', 8);

2020
5

            insert into covid19_data_food
            values (58, 2020, 5, 'Null', 2);

2020
5

            insert into covid19_data_food
            values (59, 2020, 5, 'Null', 4);

2020
5

            insert into covid19_data_food
            values (60, 2020, 5, 'Null', 18);

2020
5

            insert into covid19_data_food
            values (61, 2020, 5, 'Null', 34);

2020
5

            insert into covid19_data_food
            values (62, 2020, 5, 'Null', 27);

2020
5

            insert into covid19_data_food
            values (63, 2020, 5, 'Null', 26);

2020
5

            insert into covid19_data_food
            values (64, 2020, 5, 'Null', 27);

2020
5

            insert into covid19_data_food
            values (65, 2020, 5, 'Null', 19);

2020
5

            insert into covid19_data_food
            values (66, 2020, 5, 'Null', 15);

2020
5

            insert into covid19_data_food
            values (67, 2020, 5, 'Null', 13);

2020
5

            insert into covid19_data_food
            values (68, 2020, 5, 'Null', 32);

2020
5

            insert into covid19_data_food
            values (69, 2020, 5, 'Null', 20);

2020
5

            insert into covid19_data_food
            values (70, 2020, 5, 'Null', 23);

2020
5

            insert into covid19_data_food
            values (71, 2020, 5, 'Null', 16);

2020
5

            insert into covid19_data_food
            values (72, 2020, 5, 'Null', 19);

2020
5

            insert into covid19_data_food
            values (73, 2020, 5, 'Null', 79);

2020
5

            insert into covid19_data_food
            values (74, 2020, 5, 'Null', 58);

2020
5

            insert into covid19_data_food
            values (75, 2020, 5, 'Null', 27);

2020
5

            insert into covid19_data_food
            values (76, 2020, 5, 'Null', 35);

2020
6

            insert into covid19_data_food
            values (77, 2020, 6, 'Null', 49);

2020
6

            insert into covid19_data_food
            values (78, 2020, 6, 'Null', 39);

2020
6

            insert into covid19_data_food
            values (79, 2020, 6, 'Null', 51);

2020
6

            insert into covid19_data_food
            values (80, 2020, 6, 'Null', 57);

2020
6

            insert into covid19_data_food
            values (81, 2020, 6, 'Null', 38);

2020
6

            insert into covid19_data_food
            values (82, 2020, 6, 'Null', 50);

2020
6

            insert into covid19_data_food
            values (83, 2020, 6, 'Null', 56);

2020
6

            insert into covid19_data_food
            values (84, 2020, 6, 'Null', 48);

2020
6

            insert into covid19_data_food
            values (85, 2020, 6, 'Null', 36);

2020
6

            insert into covid19_data_food
            values (86, 2020, 6, 'Null', 34);

2020
6

            insert into covid19_data_food
            values (87, 2020, 6, 'Null', 59);

2020
6

            insert into covid19_data_food
            values (88, 2020, 6, 'Null', 49);

2020
6

            insert into covid19_data_food
            values (89, 2020, 6, 'Null', 48);

2020
6

            insert into covid19_data_food
            values (90, 2020, 6, 'Null', 17);

2020
6

            insert into covid19_data_food
            values (91, 2020, 6, 'Null', 51);

2020
6

            insert into covid19_data_food
            values (92, 2020, 6, 'Null', 28);

2020
6

            insert into covid19_data_food
            values (93, 2020, 6, 'Null', 51);

2020
6

            insert into covid19_data_food
            values (94, 2020, 6, 'Null', 62);

2020
6

            insert into covid19_data_food
            values (95, 2020, 6, 'Null', 43);

2020
6

            insert into covid19_data_food
            values (96, 2020, 6, 'Null', 50);

2020
7

            insert into covid19_data_food
            values (97, 2020, 7, 'Null', 63);

2020
7

            insert into covid19_data_food
            values (98, 2020, 7, 'Null', 63);

2020
7

            insert into covid19_data_food
            values (99, 2020, 7, 'Null', 46);

2020
7

            insert into covid19_data_food
            values (100, 2020, 7, 'Null', 44);

2020
7

            insert into covid19_data_food
            values (101, 2020, 7, 'Null', 49);

2020
7

            insert into covid19_data_food
            values (102, 2020, 7, 'Null', 45);

2020
7

            insert into covid19_data_food
            values (103, 2020, 7, 'Null', 44);

2020
7

            insert into covid19_data_food
            values (104, 2020, 7, 'Null', 62);

2020
7

            insert into covid19_data_food
            values (105, 2020, 7, 'Null', 39);

2020
7

            insert into covid19_data_food
            values (106, 2020, 7, 'Null', 61);

2020
7

            insert into covid19_data_food
            values (107, 2020, 7, 'Null', 39);

2020
7

            insert into covid19_data_food
            values (108, 2020, 7, 'Null', 34);

2020
7

            insert into covid19_data_food
            values (109, 2020, 7, 'Null', 45);

2020
7

            insert into covid19_data_food
            values (110, 2020, 7, 'Null', 63);

2020
7

            insert into covid19_data_food
            values (111, 2020, 7, 'Null', 41);

2020
7

            insert into covid19_data_food
            values (112, 2020, 7, 'Null', 113);

2020
7

            insert into covid19_data_food
            values (113, 2020, 7, 'Null', 25);

2020
7

            insert into covid19_data_food
            values (114, 2020, 7, 'Null', 28);

2020
7

            insert into covid19_data_food
            values (115, 2020, 7, 'Null', 18);

2020
7

            insert into covid19_data_food
            values (116, 2020, 7, 'Null', 36);

2020
8

            insert into covid19_data_food
            values (117, 2020, 8, 'Null', 30);

2020
8

            insert into covid19_data_food
            values (118, 2020, 8, 'Null', 23);

2020
8

            insert into covid19_data_food
            values (119, 2020, 8, 'Null', 33);

2020
8

            insert into covid19_data_food
            values (120, 2020, 8, 'Null', 43);

2020
8

            insert into covid19_data_food
            values (121, 2020, 8, 'Null', 43);

2020
8

            insert into covid19_data_food
            values (122, 2020, 8, 'Null', 36);

2020
8

            insert into covid19_data_food
            values (123, 2020, 8, 'Null', 28);

2020
8

            insert into covid19_data_food
            values (124, 2020, 8, 'Null', 54);

2020
8

            insert into covid19_data_food
            values (125, 2020, 8, 'Null', 56);

2020
8

            insert into covid19_data_food
            values (126, 2020, 8, 'Null', 166);

2020
8

            insert into covid19_data_food
            values (127, 2020, 8, 'Null', 279);

2020
8

            insert into covid19_data_food
            values (128, 2020, 8, 'Null', 246);

2020
8

            insert into covid19_data_food
            values (129, 2020, 8, 'Null', 297);

2020
8

            insert into covid19_data_food
            values (130, 2020, 8, 'Null', 324);

2020
8

            insert into covid19_data_food
            values (131, 2020, 8, 'Null', 332);

2020
8

            insert into covid19_data_food
            values (132, 2020, 8, 'Null', 266);

2020
8

            insert into covid19_data_food
            values (133, 2020, 8, 'Null', 280);

2020
8

            insert into covid19_data_food
            values (134, 2020, 8, 'Null', 441);

2020
8

            insert into covid19_data_food
            values (135, 2020, 8, 'Null', 371);

2020
8

            insert into covid19_data_food
            values (136, 2020, 8, 'Null', 299);

2020
8

            insert into covid19_data_food
            values (137, 2020, 8, 'Null', 248);

2020
9

            insert into covid19_data_food
            values (138, 2020, 9, 'Null', 267);

2020
9

            insert into covid19_data_food
            values (139, 2020, 9, 'Null', 195);

2020
9

            insert into covid19_data_food
            values (140, 2020, 9, 'Null', 168);

2020
9

            insert into covid19_data_food
            values (141, 2020, 9, 'Null', 167);

2020
9

            insert into covid19_data_food
            values (142, 2020, 9, 'Null', 136);

2020
9

            insert into covid19_data_food
            values (143, 2020, 9, 'Null', 156);

2020
9

            insert into covid19_data_food
            values (144, 2020, 9, 'Null', 176);

2020
9

            insert into covid19_data_food
            values (145, 2020, 9, 'Null', 136);

2020
9

            insert into covid19_data_food
            values (146, 2020, 9, 'Null', 109);

2020
9

            insert into covid19_data_food
            values (147, 2020, 9, 'Null', 106);

2020
9

            insert into covid19_data_food
            values (148, 2020, 9, 'Null', 153);

2020
9

            insert into covid19_data_food
            values (149, 2020, 9, 'Null', 126);

2020
9

            insert into covid19_data_food
            values (150, 2020, 9, 'Null', 82);

2020
9

            insert into covid19_data_food
            values (151, 2020, 9, 'Null', 70);

2020
9

            insert into covid19_data_food
            values (152, 2020, 9, 'Null', 110);

2020
9

            insert into covid19_data_food
            values (153, 2020, 9, 'Null', 125);

2020
9

            insert into covid19_data_food
            values (154, 2020, 9, 'Null', 61);

2020
9

            insert into covid19_data_food
            values (155, 2020, 9, 'Null', 95);

2020
9

            insert into covid19_data_food
            values (156, 2020, 9, 'Null', 38);

2020
9

            insert into covid19_data_food
            values (157, 2020, 9, 'Null', 113);

2020
10

            insert into covid19_data_food
            values (158, 2020, 10, 'Null', 63);

2020
10

            insert into covid19_data_food
            values (159, 2020, 10, 'Null', 75);

2020
10

            insert into covid19_data_food
            values (160, 2020, 10, 'Null', 73);

2020
10

            insert into covid19_data_food
            values (161, 2020, 10, 'Null', 75);

2020
10

            insert into covid19_data_food
            values (162, 2020, 10, 'Null', 69);

2020
10

            insert into covid19_data_food
            values (163, 2020, 10, 'Null', 54);

2020
10

            insert into covid19_data_food
            values (164, 2020, 10, 'Null', 58);

2020
10

            insert into covid19_data_food
            values (165, 2020, 10, 'Null', 97);

2020
10

            insert into covid19_data_food
            values (166, 2020, 10, 'Null', 84);

2020
10

            insert into covid19_data_food
            values (167, 2020, 10, 'Null', 99);

2020
10

            insert into covid19_data_food
            values (168, 2020, 10, 'Null', 73);

2020
10

            insert into covid19_data_food
            values (169, 2020, 10, 'Null', 91);

2020
10

            insert into covid19_data_food
            values (170, 2020, 10, 'Null', 58);

2020
10

            insert into covid19_data_food
            values (171, 2020, 10, 'Null', 91);

2020
10

            insert into covid19_data_food
            values (172, 2020, 10, 'Null', 155);

2020
10

            insert into covid19_data_food
            values (173, 2020, 10, 'Null', 77);

2020
10

            insert into covid19_data_food
            values (174, 2020, 10, 'Null', 119);

2020
10

            insert into covid19_data_food
            values (175, 2020, 10, 'Null', 88);

2020
10

            insert into covid19_data_food
            values (176, 2020, 10, 'Null', 125);

2020
10

            insert into covid19_data_food
            values (177, 2020, 10, 'Null', 114);

2020
10

            insert into covid19_data_food
            values (178, 2020, 10, 'Null', 126);

2020
11

            insert into covid19_data_food
            values (179, 2020, 11, 'Null', 97);

2020
11

            insert into covid19_data_food
            values (180, 2020, 11, 'Null', 75);

2020
11

            insert into covid19_data_food
            values (181, 2020, 11, 'Null', 125);

2020
11

            insert into covid19_data_food
            values (182, 2020, 11, 'Null', 145);

2020
11

            insert into covid19_data_food
            values (183, 2020, 11, 'Null', 143);

2020
11

            insert into covid19_data_food
            values (184, 2020, 11, 'Null', 126);

2020
11

            insert into covid19_data_food
            values (185, 2020, 11, 'Null', 146);

2020
11

            insert into covid19_data_food
            values (186, 2020, 11, 'Null', 143);

2020
11

            insert into covid19_data_food
            values (187, 2020, 11, 'Null', 205);

2020
11

            insert into covid19_data_food
            values (188, 2020, 11, 'Null', 208);

2020
11

            insert into covid19_data_food
            values (189, 2020, 11, 'Null', 229);

2020
11

            insert into covid19_data_food
            values (190, 2020, 11, 'Null', 313);

2020
11

            insert into covid19_data_food
            values (191, 2020, 11, 'Null', 363);

2020
11

            insert into covid19_data_food
            values (192, 2020, 11, 'Null', 386);

2020
11

            insert into covid19_data_food
            values (193, 2020, 11, 'Null', 271);

2020
11

            insert into covid19_data_food
            values (194, 2020, 11, 'Null', 349);

2020
11

            insert into covid19_data_food
            values (195, 2020, 11, 'Null', 583);

2020
11

            insert into covid19_data_food
            values (196, 2020, 11, 'Null', 569);

2020
11

            insert into covid19_data_food
            values (197, 2020, 11, 'Null', 449);

2020
11

            insert into covid19_data_food
            values (198, 2020, 11, 'Null', 377);

2020
12

            insert into covid19_data_food
            values (199, 2020, 12, 'Null', 511);

2020
12

            insert into covid19_data_food
            values (200, 2020, 12, 'Null', 540);

2020
12

            insert into covid19_data_food
            values (201, 2020, 12, 'Null', 583);

2020
12

            insert into covid19_data_food
            values (202, 2020, 12, 'Null', 631);

2020
12

            insert into covid19_data_food
            values (203, 2020, 12, 'Null', 594);

2020
12

            insert into covid19_data_food
            values (204, 2020, 12, 'Null', 677);

2020
12

            insert into covid19_data_food
            values (205, 2020, 12, 'Null', 688);

2020
12

            insert into covid19_data_food
            values (206, 2020, 12, 'Null', 950);

2020
12

            insert into covid19_data_food
            values (207, 2020, 12, 'Null', 718);

2020
12

            insert into covid19_data_food
            values (208, 2020, 12, 'Null', 880);

2020
12

            insert into covid19_data_food
            values (209, 2020, 12, 'Null', 1011);

2020
12

            insert into covid19_data_food
            values (210, 2020, 12, 'Null', 1062);

2020
12

            insert into covid19_data_food
            values (211, 2020, 12, 'Null', 1095);

2020
12

            insert into covid19_data_food
            values (212, 2020, 12, 'Null', 926);

2020
12

            insert into covid19_data_food
            values (213, 2020, 12, 'Null', 1090);

2020
12

            insert into covid19_data_food
            values (214, 2020, 12, 'Null', 983);

2020
12

            insert into covid19_data_food
            values (215, 2020, 12, 'Null', 1132);

2020
12

            insert into covid19_data_food
            values (216, 2020, 12, 'Null', 970);

2020
12

            insert into covid19_data_food
            values (217, 2020, 12, 'Null', 1045);

2020
12

            insert into covid19_data_food
            values (218, 2020, 12, 'Null', 1048);

2020
12

            insert into covid19_data_food
            values (219, 2020, 12, 'Null', 1029);

2021
1

            insert into covid19_data_food
            values (220, 2021, 1, 'Null', 824);

2021
1

            insert into covid19_data_food
            values (221, 2021, 1, 'Null', 1020);

2021
1

            insert into covid19_data_food
            values (222, 2021, 1, 'Null', 715);

2021
1

            insert into covid19_data_food
            values (223, 2021, 1, 'Null', 868);

2021
1

            insert into covid19_data_food
            values (224, 2021, 1, 'Null', 672);

2021
1

            insert into covid19_data_food
            values (225, 2021, 1, 'Null', 665);

2021
1

            insert into covid19_data_food
            values (226, 2021, 1, 'Null', 450);

2021
1

            insert into covid19_data_food
            values (227, 2021, 1, 'Null', 561);

2021
1

            insert into covid19_data_food
            values (228, 2021, 1, 'Null', 516);

2021
1

            insert into covid19_data_food
            values (229, 2021, 1, 'Null', 513);

2021
1

            insert into covid19_data_food
            values (230, 2021, 1, 'Null', 520);

2021
1

            insert into covid19_data_food
            values (231, 2021, 1, 'Null', 389);

2021
1

            insert into covid19_data_food
            values (232, 2021, 1, 'Null', 403);

2021
1

            insert into covid19_data_food
            values (233, 2021, 1, 'Null', 400);

2021
1

            insert into covid19_data_food
            values (234, 2021, 1, 'Null', 430);

2021
1

            insert into covid19_data_food
            values (235, 2021, 1, 'Null', 392);

2021
1

            insert into covid19_data_food
            values (236, 2021, 1, 'Null', 354);

2021
1

            insert into covid19_data_food
            values (237, 2021, 1, 'Null', 554);

2021
1

            insert into covid19_data_food
            values (238, 2021, 1, 'Null', 469);

2021
1

            insert into covid19_data_food
            values (239, 2021, 1, 'Null', 455);

2021
1

            insert into covid19_data_food
            values (240, 2021, 1, 'Null', 303);

2021
2

            insert into covid19_data_food
            values (241, 2021, 2, 'Null', 336);

2021
2

            insert into covid19_data_food
            values (242, 2021, 2, 'Null', 451);

2021
2

            insert into covid19_data_food
            values (243, 2021, 2, 'Null', 369);

2021
2

            insert into covid19_data_food
            values (244, 2021, 2, 'Null', 372);

2021
2

            insert into covid19_data_food
            values (245, 2021, 2, 'Null', 289);

2021
2

            insert into covid19_data_food
            values (246, 2021, 2, 'Null', 443);

2021
2

            insert into covid19_data_food
            values (247, 2021, 2, 'Null', 504);

2021
2

            insert into covid19_data_food
            values (248, 2021, 2, 'Null', 362);

2021
2

            insert into covid19_data_food
            values (249, 2021, 2, 'Null', 326);

2021
2

            insert into covid19_data_food
            values (250, 2021, 2, 'Null', 456);

2021
2

            insert into covid19_data_food
            values (251, 2021, 2, 'Null', 621);

2021
2

            insert into covid19_data_food
            values (252, 2021, 2, 'Null', 561);

2021
2

            insert into covid19_data_food
            values (253, 2021, 2, 'Null', 446);

2021
2

            insert into covid19_data_food
            values (254, 2021, 2, 'Null', 332);

2021
2

            insert into covid19_data_food
            values (255, 2021, 2, 'Null', 357);

2021
2

            insert into covid19_data_food
            values (256, 2021, 2, 'Null', 396);

2021
2

            insert into covid19_data_food
            values (257, 2021, 2, 'Null', 406);

2021
2

            insert into covid19_data_food
            values (258, 2021, 2, 'Null', 355);

2021
2

            insert into covid19_data_food
            values (259, 2021, 2, 'Null', 355);

2021
3

            insert into covid19_data_food
            values (260, 2021, 3, 'Null', 444);

2021
3

            insert into covid19_data_food
            values (261, 2021, 3, 'Null', 424);

2021
3

            insert into covid19_data_food
            values (262, 2021, 3, 'Null', 417);

2021
3

            insert into covid19_data_food
            values (263, 2021, 3, 'Null', 416);

2021
3

            insert into covid19_data_food
            values (264, 2021, 3, 'Null', 446);

2021
3

            insert into covid19_data_food
            values (265, 2021, 3, 'Null', 470);

2021
3

            insert into covid19_data_food
            values (266, 2021, 3, 'Null', 488);

2021
3

            insert into covid19_data_food
            values (267, 2021, 3, 'Null', 490);

2021
3

            insert into covid19_data_food
            values (268, 2021, 3, 'Null', 382);

2021
3

            insert into covid19_data_food
            values (269, 2021, 3, 'Null', 363);

2021
3

            insert into covid19_data_food
            values (270, 2021, 3, 'Null', 445);

2021
3

            insert into covid19_data_food
            values (271, 2021, 3, 'Null', 463);

2021
3

            insert into covid19_data_food
            values (272, 2021, 3, 'Null', 456);

2021
3

            insert into covid19_data_food
            values (273, 2021, 3, 'Null', 410);

2021
3

            insert into covid19_data_food
            values (274, 2021, 3, 'Null', 425);

2021
3

            insert into covid19_data_food
            values (275, 2021, 3, 'Null', 430);

2021
3

            insert into covid19_data_food
            values (276, 2021, 3, 'Null', 505);

2021
3

            insert into covid19_data_food
            values (277, 2021, 3, 'Null', 482);

2021
3

            insert into covid19_data_food
            values (278, 2021, 3, 'Null', 441);

2021
3

            insert into covid19_data_food
            values (279, 2021, 3, 'Null', 506);

2021
4

            insert into covid19_data_food
            values (280, 2021, 4, 'Null', 555);

2021
4

            insert into covid19_data_food
            values (281, 2021, 4, 'Null', 542);

2021
4

            insert into covid19_data_food
            values (282, 2021, 4, 'Null', 473);

2021
4

            insert into covid19_data_food
            values (283, 2021, 4, 'Null', 478);

2021
4

            insert into covid19_data_food
            values (284, 2021, 4, 'Null', 700);

2021
4

            insert into covid19_data_food
            values (285, 2021, 4, 'Null', 671);

2021
4

            insert into covid19_data_food
            values (286, 2021, 4, 'Null', 614);

2021
4

            insert into covid19_data_food
            values (287, 2021, 4, 'Null', 587);

2021
4

            insert into covid19_data_food
            values (288, 2021, 4, 'Null', 542);

2021
4

            insert into covid19_data_food
            values (289, 2021, 4, 'Null', 698);

2021
4

            insert into covid19_data_food
            values (290, 2021, 4, 'Null', 672);

2021
4

            insert into covid19_data_food
            values (291, 2021, 4, 'Null', 671);

2021
4

            insert into covid19_data_food
            values (292, 2021, 4, 'Null', 531);

2021
4

            insert into covid19_data_food
            values (293, 2021, 4, 'Null', 731);

2021
4

            insert into covid19_data_food
            values (294, 2021, 4, 'Null', 735);

2021
4

            insert into covid19_data_food
            values (295, 2021, 4, 'Null', 785);

2021
4

            insert into covid19_data_food
            values (296, 2021, 4, 'Null', 644);

2021
4

            insert into covid19_data_food
            values (297, 2021, 4, 'Null', 511);

2021
4

            insert into covid19_data_food
            values (298, 2021, 4, 'Null', 775);

2021
4

            insert into covid19_data_food
            values (299, 2021, 4, 'Null', 656);

2021
4

            insert into covid19_data_food
            values (300, 2021, 4, 'Null', 627);

2021
5

            insert into covid19_data_food
            values (301, 2021, 5, 'Null', 488);

2021
5

            insert into covid19_data_food
            values (302, 2021, 5, 'Null', 541);

2021
5

            insert into covid19_data_food
            values (303, 2021, 5, 'Null', 574);

2021
5

            insert into covid19_data_food
            values (304, 2021, 5, 'Null', 525);

2021
5

            insert into covid19_data_food
            values (305, 2021, 5, 'Null', 564);

2021
5

            insert into covid19_data_food
            values (306, 2021, 5, 'Null', 463);

2021
5

            insert into covid19_data_food
            values (307, 2021, 5, 'Null', 635);

2021
5

            insert into covid19_data_food
            values (308, 2021, 5, 'Null', 715);

2021
5

            insert into covid19_data_food
            values (309, 2021, 5, 'Null', 681);

2021
5

            insert into covid19_data_food
            values (310, 2021, 5, 'Null', 610);

2021
5

            insert into covid19_data_food
            values (311, 2021, 5, 'Null', 528);

2021
5

            insert into covid19_data_food
            values (312, 2021, 5, 'Null', 653);

2021
5

            insert into covid19_data_food
            values (313, 2021, 5, 'Null', 561);

2021
5

            insert into covid19_data_food
            values (314, 2021, 5, 'Null', 666);

2021
5

            insert into covid19_data_food
            values (315, 2021, 5, 'Null', 538);

2021
5

            insert into covid19_data_food
            values (316, 2021, 5, 'Null', 516);

2021
5

            insert into covid19_data_food
            values (317, 2021, 5, 'Null', 629);

2021
5

            insert into covid19_data_food
            values (318, 2021, 5, 'Null', 587);

2021
5

            insert into covid19_data_food
            values (319, 2021, 5, 'Null', 479);

2021
5

            insert into covid19_data_food
            values (320, 2021, 5, 'Null', 430);

2021
6

            insert into covid19_data_food
            values (321, 2021, 6, 'Null', 677);

2021
6

            insert into covid19_data_food
            values (322, 2021, 6, 'Null', 681);

2021
6

            insert into covid19_data_food
            values (323, 2021, 6, 'Null', 744);

2021
6

            insert into covid19_data_food
            values (324, 2021, 6, 'Null', 556);

2021
6

            insert into covid19_data_food
            values (325, 2021, 6, 'Null', 454);

2021
6

            insert into covid19_data_food
            values (326, 2021, 6, 'Null', 601);

2021
6

            insert into covid19_data_food
            values (327, 2021, 6, 'Null', 556);

2021
6

            insert into covid19_data_food
            values (328, 2021, 6, 'Null', 563);

2021
6

            insert into covid19_data_food
            values (329, 2021, 6, 'Null', 399);

2021
6

            insert into covid19_data_food
            values (330, 2021, 6, 'Null', 374);

2021
6

            insert into covid19_data_food
            values (331, 2021, 6, 'Null', 540);

2021
6

            insert into covid19_data_food
            values (332, 2021, 6, 'Null', 507);

2021
6

            insert into covid19_data_food
            values (333, 2021, 6, 'Null', 429);

2021
6

            insert into covid19_data_food
            values (334, 2021, 6, 'Null', 357);

2021
6

            insert into covid19_data_food
            values (335, 2021, 6, 'Null', 644);

2021
6

            insert into covid19_data_food
            values (336, 2021, 6, 'Null', 610);

2021
6

            insert into covid19_data_food
            values (337, 2021, 6, 'Null', 668);

2021
6

            insert into covid19_data_food
            values (338, 2021, 6, 'Null', 614);

2021
6

            insert into covid19_data_food
            values (339, 2021, 6, 'Null', 595);

2021
6

            insert into covid19_data_food
            values (340, 2021, 6, 'Null', 794);

2021
7

            insert into covid19_data_food
            values (341, 2021, 7, 'level4', 826);

2021
7

            insert into covid19_data_food
            values (342, 2021, 7, 'level4', 793);

2021
7

            insert into covid19_data_food
            values (343, 2021, 7, 'level4', 742);

2021
7

            insert into covid19_data_food
            values (344, 2021, 7, 'level4', 746);

2021
7

            insert into covid19_data_food
            values (345, 2021, 7, 'level4', 1212);

2021
7

            insert into covid19_data_food
            values (346, 2021, 7, 'level4', 1316);

2021
7

            insert into covid19_data_food
            values (347, 2021, 7, 'level4', 1378);

2021
7

            insert into covid19_data_food
            values (348, 2021, 7, 'level4', 1100);

2021
7

            insert into covid19_data_food
            values (349, 2021, 7, 'level4', 1150);

2021
7

            insert into covid19_data_food
            values (350, 2021, 7, 'level4', 1600);

2021
7

            insert into covid19_data_food
            values (351, 2021, 7, 'level4', 1535);

2021
7

            insert into covid19_data_food
            values (352, 2021, 7, 'level4', 1451);

2021
7

            insert into covid19_data_food
            values (353, 2021, 7, 'level4', 1252);

2021
7

            insert into covid19_data_food
            values (354, 2021, 7, 'level4', 1784);

2021
7

            insert into covid19_data_food
            values (355, 2021, 7, 'level4', 1838);

2021
7

            insert into covid19_data_food
            values (356, 2021, 7, 'level4', 1629);

2021
7

            insert into covid19_data_food
            values (357, 2021, 7, 'level4', 1486);

2021
7

            insert into covid19_data_food
            values (358, 2021, 7, 'level4', 1365);

2021
7

            insert into covid19_data_food
            values (359, 2021, 7, 'level4', 1896);

2021
7

            insert into covid19_data_food
            values (360, 2021, 7, 'level4', 1707);

2021
7

            insert into covid19_data_food
            values (361, 2021, 7, 'level4', 1539);

2021
8

            insert into covid19_data_food
            values (362, 2021, 8, 'level4', 1215);

2021
8

            insert into covid19_data_food
            values (363, 2021, 8, 'level4', 1201);

2021
8

            insert into covid19_data_food
            values (364, 2021, 8, 'level4', 1776);

2021
8

            insert into covid19_data_food
            values (365, 2021, 8, 'level4', 1704);

2021
8

            insert into covid19_data_food
            values (366, 2021, 8, 'level4', 1728);

2021
8

            insert into covid19_data_food
            values (367, 2021, 8, 'level4', 1492);

2021
8

            insert into covid19_data_food
            values (368, 2021, 8, 'level4', 2219);

2021
8

            insert into covid19_data_food
            values (369, 2021, 8, 'level4', 1986);

2021
8

            insert into covid19_data_food
            values (370, 2021, 8, 'level4', 1929);

2021
8

            insert into covid19_data_food
            values (371, 2021, 8, 'level4', 1817);

2021
8

            insert into covid19_data_food
            values (372, 2021, 8, 'level4', 1373);

2021
8

            insert into covid19_data_food
            values (373, 2021, 8, 'level4', 1803);

2021
8

            insert into covid19_data_food
            values (374, 2021, 8, 'level4', 2051);

2021
8

            insert into covid19_data_food
            values (375, 2021, 8, 'level4', 1880);

2021
8

            insert into covid19_data_food
            values (376, 2021, 8, 'level4', 1416);

2021
8

            insert into covid19_data_food
            values (377, 2021, 8, 'level4', 1505);

2021
8

            insert into covid19_data_food
            values (378, 2021, 8, 'level4', 1878);

2021
8

            insert into covid19_data_food
            values (379, 2021, 8, 'level4', 1841);

2021
8

            insert into covid19_data_food
            values (380, 2021, 8, 'level4', 1617);

2021
8

            insert into covid19_data_food
            values (381, 2021, 8, 'level4', 1483);

2021
8

            insert into covid19_data_food
            values (382, 2021, 8, 'level4', 2024);

2021
9

            insert into covid19_data_food
            values (383, 2021, 9, 'level4', 1956);

2021
9

            insert into covid19_data_food
            values (384, 2021, 9, 'level4', 1803);

2021
9

            insert into covid19_data_food
            values (385, 2021, 9, 'level4', 1491);

2021
9

            insert into covid19_data_food
            values (386, 2021, 9, 'level4', 1596);

2021
9

            insert into covid19_data_food
            values (387, 2021, 9, 'level4', 2049);

2021
9

            insert into covid19_data_food
            values (388, 2021, 9, 'level4', 1892);

2021
9

            insert into covid19_data_food
            values (389, 2021, 9, 'level4', 1865);

2021
9

            insert into covid19_data_food
            values (390, 2021, 9, 'level4', 1433);

2021
9

            insert into covid19_data_food
            values (391, 2021, 9, 'level4', 1495);

2021
9

            insert into covid19_data_food
            values (392, 2021, 9, 'level4', 1941);

2021
9

            insert into covid19_data_food
            values (393, 2021, 9, 'level4', 2008);

2021
9

            insert into covid19_data_food
            values (394, 2021, 9, 'level4', 1909);

2021
9

            insert into covid19_data_food
            values (395, 2021, 9, 'level4', 1605);

2021
9

            insert into covid19_data_food
            values (396, 2021, 9, 'level4', 1720);

2021
9

            insert into covid19_data_food
            values (397, 2021, 9, 'level4', 1716);

2021
9

            insert into covid19_data_food
            values (398, 2021, 9, 'level4', 2433);

2021
9

            insert into covid19_data_food
            values (399, 2021, 9, 'level4', 2770);

2021
9

            insert into covid19_data_food
            values (400, 2021, 9, 'level4', 2381);

2021
9

            insert into covid19_data_food
            values (401, 2021, 9, 'level4', 2883);

2021
9

            insert into covid19_data_food
            values (402, 2021, 9, 'level4', 2564);

2021
10

            insert into covid19_data_food
            values (403, 2021, 10, 'level4', 2247);

2021
10

            insert into covid19_data_food
            values (404, 2021, 10, 'level4', 2085);

2021
10

            insert into covid19_data_food
            values (405, 2021, 10, 'level4', 1575);

2021
10

            insert into covid19_data_food
            values (406, 2021, 10, 'level4', 2027);

2021
10

            insert into covid19_data_food
            values (407, 2021, 10, 'level4', 2172);

2021
10

            insert into covid19_data_food
            values (408, 2021, 10, 'level4', 1949);

2021
10

            insert into covid19_data_food
            values (409, 2021, 10, 'level4', 1297);

2021
10

            insert into covid19_data_food
            values (410, 2021, 10, 'level4', 1347);

2021
10

            insert into covid19_data_food
            values (411, 2021, 10, 'level4', 1937);

2021
10

            insert into covid19_data_food
            values (412, 2021, 10, 'level4', 1682);

2021
10

            insert into covid19_data_food
            values (413, 2021, 10, 'level4', 1418);

2021
10

            insert into covid19_data_food
            values (414, 2021, 10, 'level4', 1049);

2021
10

            insert into covid19_data_food
            values (415, 2021, 10, 'level4', 1570);

2021
10

            insert into covid19_data_food
            values (416, 2021, 10, 'level4', 1441);

2021
10

            insert into covid19_data_food
            values (417, 2021, 10, 'level4', 1507);

2021
10

            insert into covid19_data_food
            values (418, 2021, 10, 'level4', 1423);

2021
10

            insert into covid19_data_food
            values (419, 2021, 10, 'level4', 1266);

2021
10

            insert into covid19_data_food
            values (420, 2021, 10, 'level4', 1950);

2021
10

            insert into covid19_data_food
            values (421, 2021, 10, 'level4', 2124);

2021
10

            insert into covid19_data_food
            values (422, 2021, 10, 'level4', 2103);

2021
10

            insert into covid19_data_food
            values (423, 2021, 10, 'level4', 1686);

2021
11

            insert into covid19_data_food
            values (424, 2021, 11, 'recovery', 1588);

2021
11

            insert into covid19_data_food
            values (425, 2021, 11, 'recovery', 2480);

2021
11

            insert into covid19_data_food
            values (426, 2021, 11, 'recovery', 2344);

2021
11

            insert into covid19_data_food
            values (427, 2021, 11, 'recovery', 2223);

2021
11

            insert into covid19_data_food
            values (428, 2021, 11, 'recovery', 1759);

2021
11

            insert into covid19_data_food
            values (429, 2021, 11, 'recovery', 2424);

2021
11

            insert into covid19_data_food
            values (430, 2021, 11, 'recovery', 2520);

2021
11

            insert into covid19_data_food
            values (431, 2021, 11, 'recovery', 2323);

2021
11

            insert into covid19_data_food
            values (432, 2021, 11, 'recovery', 2418);

2021
11

            insert into covid19_data_food
            values (433, 2021, 11, 'recovery', 2125);

2021
11

            insert into covid19_data_food
            values (434, 2021, 11, 'recovery', 3184);

2021
11

            insert into covid19_data_food
            values (435, 2021, 11, 'recovery', 3034);

2021
11

            insert into covid19_data_food
            values (436, 2021, 11, 'recovery', 3212);

2021
11

            insert into covid19_data_food
            values (437, 2021, 11, 'recovery', 2827);

2021
11

            insert into covid19_data_food
            values (438, 2021, 11, 'recovery', 2698);

2021
11

            insert into covid19_data_food
            values (439, 2021, 11, 'recovery', 3937);

2021
11

            insert into covid19_data_food
            values (440, 2021, 11, 'recovery', 3899);

2021
11

            insert into covid19_data_food
            values (441, 2021, 11, 'recovery', 3928);

2021
11

            insert into covid19_data_food
            values (442, 2021, 11, 'recovery', 3304);

2021
11

            insert into covid19_data_food
            values (443, 2021, 11, 'recovery', 5120);

2021
12

            insert into covid19_data_food
            values (444, 2021, 12, 'recovery', 5262);

2021
12

            insert into covid19_data_food
            values (445, 2021, 12, 'recovery', 5352);

2021
12

            insert into covid19_data_food
            values (446, 2021, 12, 'recovery', 5127);

2021
12

            insert into covid19_data_food
            values (447, 2021, 12, 'recovery', 4952);

2021
12

            insert into covid19_data_food
            values (448, 2021, 12, 'recovery', 7174);

2021
12

            insert into covid19_data_food
            values (449, 2021, 12, 'recovery', 7100);

2021
12

            insert into covid19_data_food
            values (450, 2021, 12, 'recovery', 6977);

2021
12

            insert into covid19_data_food
            values (451, 2021, 12, 'recovery', 6688);

2021
12

            insert into covid19_data_food
            values (452, 2021, 12, 'recovery', 5564);

2021
12

            insert into covid19_data_food
            values (453, 2021, 12, 'recovery', 7843);

2021
12

            insert into covid19_data_food
            values (454, 2021, 12, 'recovery', 7434);

2021
12

            insert into covid19_data_food
            values (455, 2021, 12, 'recovery', 7313);

2021
12

            insert into covid19_data_food
            values (456, 2021, 12, 'recovery', 5316);

2021
12

            insert into covid19_data_food
            values (457, 2021, 12, 'recovery', 5201);

2021
12

            insert into covid19_data_food
            values (458, 2021, 12, 'recovery', 6913);

2021
12

            insert into covid19_data_food
            values (459, 2021, 12, 'recovery', 6231);

2021
12

            insert into covid19_data_food
            values (460, 2021, 12, 'recovery', 5418);

2021
12

            insert into covid19_data_food
            values (461, 2021, 12, 'recovery', 4207);

2021
12

            insert into covid19_data_food
            values (462, 2021, 12, 'recovery', 5406);

2021
12

            insert into covid19_data_food
            values (463, 2021, 12, 'recovery', 5029);

2021
12

            insert into covid19_data_food
            values (464, 2021, 12, 'recovery', 4415);

2022
1

            insert into covid19_data_food
            values (465, 2022, 1, 'recovery', 3830);

2022
1

            insert into covid19_data_food
            values (466, 2022, 1, 'recovery', 3019);

2022
1

            insert into covid19_data_food
            values (467, 2022, 1, 'recovery', 4443);

2022
1

            insert into covid19_data_food
            values (468, 2022, 1, 'recovery', 3716);

2022
1

            insert into covid19_data_food
            values (469, 2022, 1, 'recovery', 3507);

2022
1

            insert into covid19_data_food
            values (470, 2022, 1, 'recovery', 2999);

2022
1

            insert into covid19_data_food
            values (471, 2022, 1, 'recovery', 3093);

2022
1

            insert into covid19_data_food
            values (472, 2022, 1, 'recovery', 4162);

2022
1

            insert into covid19_data_food
            values (473, 2022, 1, 'recovery', 4536);

2022
1

            insert into covid19_data_food
            values (474, 2022, 1, 'recovery', 4190);

2022
1

            insert into covid19_data_food
            values (475, 2022, 1, 'recovery', 3858);

2022
1

            insert into covid19_data_food
            values (476, 2022, 1, 'recovery', 5800);

2022
1

            insert into covid19_data_food
            values (477, 2022, 1, 'recovery', 6601);

2022
1

            insert into covid19_data_food
            values (478, 2022, 1, 'recovery', 7005);

2022
1

            insert into covid19_data_food
            values (479, 2022, 1, 'recovery', 7628);

2022
1

            insert into covid19_data_food
            values (480, 2022, 1, 'recovery', 8566);

2022
1

            insert into covid19_data_food
            values (481, 2022, 1, 'recovery', 13004);

2022
1

            insert into covid19_data_food
            values (482, 2022, 1, 'recovery', 16085);

2022
1

            insert into covid19_data_food
            values (483, 2022, 1, 'recovery', 17540);

2022
1

            insert into covid19_data_food
            values (484, 2022, 1, 'recovery', 17072);

2022
1

            insert into covid19_data_food
            values (485, 2022, 1, 'recovery', 18333);

2022
2

            insert into covid19_data_food
            values (486, 2022, 2, 'recovery', 22904);

2022
2

            insert into covid19_data_food
            values (487, 2022, 2, 'recovery', 27442);

2022
2

            insert into covid19_data_food
            values (488, 2022, 2, 'recovery', 38670);

2022
2

            insert into covid19_data_food
            values (489, 2022, 2, 'recovery', 35275);

2022
2

            insert into covid19_data_food
            values (490, 2022, 2, 'recovery', 49558);

2022
2

            insert into covid19_data_food
            values (491, 2022, 2, 'recovery', 54122);

2022
2

            insert into covid19_data_food
            values (492, 2022, 2, 'recovery', 54918);

2022
2

            insert into covid19_data_food
            values (493, 2022, 2, 'recovery', 56425);

2022
2

            insert into covid19_data_food
            values (494, 2022, 2, 'recovery', 57175);

2022
2

            insert into covid19_data_food
            values (495, 2022, 2, 'recovery', 90430);

2022
2

            insert into covid19_data_food
            values (496, 2022, 2, 'recovery', 109828);

2022
2

            insert into covid19_data_food
            values (497, 2022, 2, 'recovery', 102203);

2022
2

            insert into covid19_data_food
            values (498, 2022, 2, 'recovery', 95347);

2022
2

            insert into covid19_data_food
            values (499, 2022, 2, 'recovery', 99550);

2022
2

            insert into covid19_data_food
            values (500, 2022, 2, 'recovery', 170006);

2022
2

            insert into covid19_data_food
            values (501, 2022, 2, 'recovery', 165889);

2022
2

            insert into covid19_data_food
            values (502, 2022, 2, 'recovery', 163558);

2022
2

            insert into covid19_data_food
            values (503, 2022, 2, 'recovery', 139615);

2022
2

            insert into covid19_data_food
            values (504, 2022, 2, 'recovery', 138993);

2022
3

            insert into covid19_data_food
            values (505, 2022, 3, 'recovery', 198802);

2022
3

            insert into covid19_data_food
            values (506, 2022, 3, 'recovery', 266838);

2022
3

            insert into covid19_data_food
            values (507, 2022, 3, 'recovery', 243612);

2022
3

            insert into covid19_data_food
            values (508, 2022, 3, 'recovery', 210713);

2022
3

            insert into covid19_data_food
            values (509, 2022, 3, 'recovery', 342427);

2022
3

            insert into covid19_data_food
            values (510, 2022, 3, 'recovery', 327532);

2022
3

            insert into covid19_data_food
            values (511, 2022, 3, 'recovery', 383651);

2022
3

            insert into covid19_data_food
            values (512, 2022, 3, 'recovery', 350176);

2022
3

            insert into covid19_data_food
            values (513, 2022, 3, 'recovery', 362328);

2022
3

            insert into covid19_data_food
            values (514, 2022, 3, 'recovery', 400725);

2022
3

            insert into covid19_data_food
            values (515, 2022, 3, 'recovery', 407017);

2022
3

            insert into covid19_data_food
            values (516, 2022, 3, 'recovery', 381329);

2022
3

            insert into covid19_data_food
            values (517, 2022, 3, 'recovery', 209169);

2022
3

            insert into covid19_data_food
            values (518, 2022, 3, 'recovery', 353725);

2022
3

            insert into covid19_data_food
            values (519, 2022, 3, 'recovery', 395589);

2022
3

            insert into covid19_data_food
            values (520, 2022, 3, 'recovery', 339396);

2022
3

            insert into covid19_data_food
            values (521, 2022, 3, 'recovery', 318130);

2022
3

            insert into covid19_data_food
            values (522, 2022, 3, 'recovery', 187213);

2022
3

            insert into covid19_data_food
            values (523, 2022, 3, 'recovery', 424528);

2022
3

            insert into covid19_data_food
            values (524, 2022, 3, 'recovery', 320675);

2022
4

            insert into covid19_data_food
            values (525, 2022, 4, 'recovery', 264097);

2022
4

            insert into covid19_data_food
            values (526, 2022, 4, 'recovery', 234301);

2022
4

            insert into covid19_data_food
            values (527, 2022, 4, 'recovery', 265995);

2022
4

            insert into covid19_data_food
            values (528, 2022, 4, 'recovery', 286243);

2022
4

            insert into covid19_data_food
            values (529, 2022, 4, 'recovery', 205289);

2022
4

            insert into covid19_data_food
            values (530, 2022, 4, 'recovery', 185495);

2022
4

            insert into covid19_data_food
            values (531, 2022, 4, 'recovery', 90928);

2022
4

            insert into covid19_data_food
            values (532, 2022, 4, 'recovery', 210676);

2022
4

            insert into covid19_data_food
            values (533, 2022, 4, 'recovery', 148417);

2022
4

            insert into covid19_data_food
            values (534, 2022, 4, 'recovery', 125808);

2022
4

            insert into covid19_data_food
            values (535, 2022, 4, 'recovery', 93001);

2022
4

            insert into covid19_data_food
            values (536, 2022, 4, 'recovery', 47743);

2022
4

            insert into covid19_data_food
            values (537, 2022, 4, 'recovery', 111280);

2022
4

            insert into covid19_data_food
            values (538, 2022, 4, 'recovery', 90825);

2022
4

            insert into covid19_data_food
            values (539, 2022, 4, 'recovery', 75414);

2022
4

            insert into covid19_data_food
            values (540, 2022, 4, 'recovery', 64725);

2022
4

            insert into covid19_data_food
            values (541, 2022, 4, 'recovery', 80301);

2022
4

            insert into covid19_data_food
            values (542, 2022, 4, 'recovery', 76761);

2022
4

            insert into covid19_data_food
            values (543, 2022, 4, 'recovery', 107990);

2022
4

            insert into covid19_data_food
            values (544, 2022, 4, 'recovery', 43262);

2022
5

            insert into covid19_data_food
            values (545, 2022, 5, 'clear', 20084);

2022
5

            insert into covid19_data_food
            values (546, 2022, 5, 'clear', 51020);

2022
5

            insert into covid19_data_food
            values (547, 2022, 5, 'clear', 42277);

2022
5

            insert into covid19_data_food
            values (548, 2022, 5, 'clear', 26714);

2022
5

            insert into covid19_data_food
            values (549, 2022, 5, 'clear', 40064);

2022
5

            insert into covid19_data_food
            values (550, 2022, 5, 'clear', 20601);

2022
5

            insert into covid19_data_food
            values (551, 2022, 5, 'clear', 43899);

2022
5

            insert into covid19_data_food
            values (552, 2022, 5, 'clear', 35883);

2022
5

            insert into covid19_data_food
            values (553, 2022, 5, 'clear', 29541);

2022
5

            insert into covid19_data_food
            values (554, 2022, 5, 'clear', 25434);

2022
5

            insert into covid19_data_food
            values (555, 2022, 5, 'clear', 35072);

2022
5

            insert into covid19_data_food
            values (556, 2022, 5, 'clear', 31315);

2022
5

            insert into covid19_data_food
            values (557, 2022, 5, 'clear', 25108);

2022
5

            insert into covid19_data_food
            values (558, 2022, 5, 'clear', 23442);

2022
5

            insert into covid19_data_food
            values (559, 2022, 5, 'clear', 9975);

2022
5

            insert into covid19_data_food
            values (560, 2022, 5, 'clear', 26313);

2022
5

            insert into covid19_data_food
            values (561, 2022, 5, 'clear', 18797);

2022
5

            insert into covid19_data_food
            values (562, 2022, 5, 'clear', 16567);

2022
5

            insert into covid19_data_food
            values (563, 2022, 5, 'clear', 14382);

2022
5

            insert into covid19_data_food
            values (564, 2022, 5, 'clear', 6139);

2022
5

            insert into covid19_data_food
            values (565, 2022, 5, 'clear', 17176);

2022
6

            insert into covid19_data_food
            values (566, 2022, 6, 'clear', 9898);

2022
6

            insert into covid19_data_food
            values (567, 2022, 6, 'clear', 12522);

2022
6

            insert into covid19_data_food
            values (568, 2022, 6, 'clear', 9835);

2022
6

            insert into covid19_data_food
            values (569, 2022, 6, 'clear', 5022);

2022
6

            insert into covid19_data_food
            values (570, 2022, 6, 'clear', 13320);

2022
6

            insert into covid19_data_food
            values (571, 2022, 6, 'clear', 12146);

2022
6

            insert into covid19_data_food
            values (572, 2022, 6, 'clear', 8428);

2022
6

            insert into covid19_data_food
            values (573, 2022, 6, 'clear', 7382);

2022
6

            insert into covid19_data_food
            values (574, 2022, 6, 'clear', 9768);

2022
6

            insert into covid19_data_food
            values (575, 2022, 6, 'clear', 9423);

2022
6

            insert into covid19_data_food
            values (576, 2022, 6, 'clear', 7186);

2022
6

            insert into covid19_data_food
            values (577, 2022, 6, 'clear', 6838);

2022
6

            insert into covid19_data_food
            values (578, 2022, 6, 'clear', 3538);

2022
6

            insert into covid19_data_food
            values (579, 2022, 6, 'clear', 9283);

2022
6

            insert into covid19_data_food
            values (580, 2022, 6, 'clear', 7442);

2022
6

            insert into covid19_data_food
            values (581, 2022, 6, 'clear', 7210);

2022
6

            insert into covid19_data_food
            values (582, 2022, 6, 'clear', 6246);

2022
6

            insert into covid19_data_food
            values (583, 2022, 6, 'clear', 3429);

2022
6

            insert into covid19_data_food
            values (584, 2022, 6, 'clear', 10437);

2022
6

            insert into covid19_data_food
            values (585, 2022, 6, 'clear', 9585);

2022
7

            insert into covid19_data_food
            values (586, 2022, 7, 'clear', 10695);

2022
7

            insert into covid19_data_food
            values (587, 2022, 7, 'clear', 10059);

2022
7

            insert into covid19_data_food
            values (588, 2022, 7, 'clear', 18133);

2022
7

            insert into covid19_data_food
            values (589, 2022, 7, 'clear', 19362);

2022
7

            insert into covid19_data_food
            values (590, 2022, 7, 'clear', 19310);

2022
7

            insert into covid19_data_food
            values (591, 2022, 7, 'clear', 20263);

2022
7

            insert into covid19_data_food
            values (592, 2022, 7, 'clear', 12693);

2022
7

            insert into covid19_data_food
            values (593, 2022, 7, 'clear', 37323);

2022
7

            insert into covid19_data_food
            values (594, 2022, 7, 'clear', 39169);

2022
7

            insert into covid19_data_food
            values (595, 2022, 7, 'clear', 38864);

2022
7

            insert into covid19_data_food
            values (596, 2022, 7, 'clear', 40342);

2022
7

            insert into covid19_data_food
            values (597, 2022, 7, 'clear', 26299);

2022
7

            insert into covid19_data_food
            values (598, 2022, 7, 'clear', 76378);

2022
7

            insert into covid19_data_food
            values (599, 2022, 7, 'clear', 71109);

2022
7

            insert into covid19_data_food
            values (600, 2022, 7, 'clear', 68521);

2022
7

            insert into covid19_data_food
            values (601, 2022, 7, 'clear', 65433);

2022
7

            insert into covid19_data_food
            values (602, 2022, 7, 'clear', 99268);

2022
7

            insert into covid19_data_food
            values (603, 2022, 7, 'clear', 100182);

2022
7

            insert into covid19_data_food
            values (604, 2022, 7, 'clear', 85275);

2022
7

            insert into covid19_data_food
            values (605, 2022, 7, 'clear', 81944);

2022
7

            insert into covid19_data_food
            values (606, 2022, 7, 'clear', 44689);

2022
8

            insert into covid19_data_food
            values (607, 2022, 8, 'clear', 111700);

2022
8

            insert into covid19_data_food
            values (608, 2022, 8, 'clear', 107849);

2022
8

            insert into covid19_data_food
            values (609, 2022, 8, 'clear', 112857);

2022
8

            insert into covid19_data_food
            values (610, 2022, 8, 'clear', 105507);

2022
8

            insert into covid19_data_food
            values (611, 2022, 8, 'clear', 55292);

2022
8

            insert into covid19_data_food
            values (612, 2022, 8, 'clear', 151734);

2022
8

            insert into covid19_data_food
            values (613, 2022, 8, 'clear', 137196);

2022
8

            insert into covid19_data_food
            values (614, 2022, 8, 'clear', 124515);

2022
8

            insert into covid19_data_food
            values (615, 2022, 8, 'clear', 119603);

2022
8

            insert into covid19_data_food
            values (616, 2022, 8, 'clear', 84128);

2022
8

            insert into covid19_data_food
            values (617, 2022, 8, 'clear', 180652);

2022
8

            insert into covid19_data_food
            values (618, 2022, 8, 'clear', 180652);

2022
8

            insert into covid19_data_food
            values (619, 2022, 8, 'clear', 180652);

2022
8

            insert into covid19_data_food
            values (620, 2022, 8, 'clear', 180652);

2022
8

            insert into covid19_data_food
            values (621, 2022, 8, 'clear', 180652);

2022
8

            insert into covid19_data_food
            values (622, 2022, 8, 'clear', 180652);

2022
8

            insert into covid19_data_food
            values (623, 2022, 8, 'clear', 180652);

2022
8

            insert into covid19_data_food
            values (624, 2022, 8, 'clear', 180652);

2022
8

            insert into covid19_data_food
            values (625, 2022, 8, 'clear', 180652);

2022
8

            insert into covid19_data_food
            values (626, 2022, 8, 'clear', 180652);

2022
8

            insert into covid19_data_food
            values (627, 2022, 8, 'clear', 180652);

2022
8

            insert into covid19_data_food
            values (628, 2022, 8, 'clear', 180652);

2022
8

            insert into covid19_data_food
            values (629, 2022, 8, 'clear', 180652);

2022
8

            insert into covid19_data_food
            values (630, 2022, 8, 'clear', 180652);

2022
8

            insert into covid19_data_food
            values (631, 2022, 8, 'clear', 180652);

2022
8

            insert into covid19_data_food
            values (632, 2022, 8, 'clear', 180652);

2022
8

            insert into covid19_data_food
            values (633, 2022, 8, 'clear', 180652);

2022
8

            insert into covid19_data_food
            values (634, 2022, 8, 'clear', 180652);

2022
8

            insert into covid19_data_food
            values (635, 2022, 8, 'clear', 180652);

2022
8

            insert into covid19_data_food
            values (636, 2022, 8, 'clear', 180652);

2022
8

            insert into covid19_data_food
            values (637, 2022, 8, 'clear', 180652);

2022
8

            insert into covid19_data_food
            values (638, 2022, 8, 'clear', 180652);

2022
8

            insert into covid19_data_food
            values (639, 2022, 8, 'clear', 180652);

2022
8

            insert into covid19_data_food
            values (640, 2022, 8, 'clear', 180652);

2022
8

            insert into covid19_data_food
            values (641, 2022, 8, 'clear', 180652);

2022
8

            insert into covid19_data_food
            values (642, 2022, 8, 'clear', 180652);

2022
8

            insert into covid19_data_food
            values (643, 2022, 8, 'clear', 180652);

2022
8

            insert into covid19_data_food
            values (644, 2022, 8, 'clear', 180652);

2022
8

            insert into covid19_data_food
            values (645, 2022, 8, 'clear', 180652);

2022
8

            insert into covid19_data_food
            values (646, 2022, 8, 'clear', 180652);

2022
8

            insert into covid19_data_food
            values (647, 2022, 8, 'clear', 180652);

2022
8

            insert into covid19_data_food
            values (648, 2022, 8, 'clear', 180652);

2022
8

            insert into covid19_data_food
            values (649, 2022, 8, 'clear', 180652);

2022
8

            insert into covid19_data_food
            values (650, 2022, 8, 'clear', 180652);

### 카드 데이터

In [15]:
###########
# 카드 테이블 생성 #
##########
# 1. 라이브러리 가져오기
import pymysql

# 2. 접속하기
db = pymysql.connect(host='localhost', port=3306, user='root', passwd='08250504', db='mywork', charset='utf8')

# 3. 커서 가져오기
cursor = db.cursor()

# 4. SQL 구문 만들기 (CRUD SQL 구문 등)
sql = """create table card
       (gender varchar(20) not null, 
       age varchar(20) not null, 
       year1 int not null,
       month1 int not null,
       category varchar(20) not null, 
       value int not null);"""

# 5. SQL 구문 실행하기
cursor.execute(sql)

# 6. DB에 Complete 하기
db.commit()

# 7. DB 연결 닫기
db.close()

In [4]:
### 카드 데이터 
from selenium import webdriver
import pymysql
import time

link = 'https://datalab.naver.com/local/card_result.naver'
card_btn_xpath = '//div[@class="trend_tab"]/strong[@class="tab_list _by_category"]/a'
search_btn_xpath = '//a[@class="com_btn_srch"]'



driver = webdriver.Chrome('./chromedriver')
driver.get(link)

driver.find_element_by_xpath(card_btn_xpath).click()
time.sleep(5)

# 지역 선택
for i in range(1,2):
    area_option_xpath = '((//div[@class="analysis_filter"]/div[@class="filter_area"])[1]/div[@class="filter_option scroll_cst"]/ul[@class="option_list _list1"]/li)[' + str(i) + ']'
    driver.find_element_by_xpath(area_option_xpath).click()
    
    area = driver.find_element_by_xpath(area_option_xpath + '/a').text
    print(area)

    if i == 1:
        industry_option_xpath = '((//div[@class="analysis_step v2"]/div[@class="analysis_filter"]/div[@class="filter_area"])[1]/div[@class="filter_option scroll_cst"]/ul/li)[2]/span/label'
        industry_all_option_xpath = '((//div[@class="analysis_step v2"]/div[@class="analysis_filter"]/div[@class="filter_area"])[2]/div[@class="filter_option scroll_cst"]/ul/li)[1]/span/label'
        driver.find_element_by_xpath(industry_option_xpath).click()
        time.sleep(3)
        driver.find_element_by_xpath(industry_all_option_xpath).click()

    # 성별 선택
    for j in range(2, 4):
        gender_option_xpath = '((//div[@class="add_filter_area"]/div[@class="step_group"])[1]/div[@class="filter_group"]/span)[' + str(j) + ']'
        driver.find_element_by_xpath(gender_option_xpath).click()

        gender = driver.find_element_by_xpath(gender_option_xpath + '/label').text
        print(gender)

        # 나이 선택
        for k in range(3, 8):
            age_option_xpath = '((//div[@class="add_filter_area"]/div[@class="step_group"])[2]/div[@class="filter_group"]/span)[' + str(k) + ']'
            driver.find_element_by_xpath(age_option_xpath).click()

            age = driver.find_element_by_xpath(age_option_xpath + '/label').text
            print(age)

            # 조회 버튼 클릭
            driver.find_element_by_xpath(search_btn_xpath).click()

            # 그래프 월별 선택
            for l in range(1, 14):
                time.sleep(2)
                graph_click_xpath = '(//div[@class="section_graph"]/div[@class="com_box_inner"]/div[@class="graph_area"]/div[@class="inner_graph_area _trend_graph bb"]/*[name()="svg"]/*[name()="g"]/*[name()="g" and @class="bb-chart"]/*[name()="g" and @class="bb-event-rects bb-event-rects-single"]/*[name()="rect"])[' + str(l) + ']'
                driver.find_element_by_xpath(graph_click_xpath).click()
                
                period = driver.find_element_by_xpath('//div[@class="tooltip_period"]').text
               

                print(period)

                # 그래프 내의 카테고리별 값 가져오기
                for m in range(1, 9):
                    category_xpath = '(//div[@class="graph_tooltip"]/div[@class="tooltip"])[' + str(m) + ']'
                    category = driver.find_element_by_xpath(category_xpath + '/span[@class="info"]').text
                    value = driver.find_element_by_xpath(category_xpath + '/span[@class="value"]').text

                    a = period.split()
                    year1 = a[0][0:4]
                    month1 = a[1].rstrip('월')
                    
                    print(gender, age, year1,month1, category, value)
                   

                    db = pymysql.connect(host='127.0.0.1', port=3306, user='root', passwd='08250504', db='mywork', charset='utf8')

                    cursor = db.cursor()
                    sql = """INSERT INTO card VALUES(
                           '{}','{}','{}','{}','{}','{}');""".format(gender, age, year1,month1, category, value)
                    cursor.execute(sql)
                    db.commit()
                    db.close()

서울특별시
남자
20대
2021년 7월
남자 20대 2021 7월 주점 30
남자 20대 2021 7월 서양식,아시아음식 35
남자 20대 2021 7월 어류,해물 27
남자 20대 2021 7월 음식점 기타 21
남자 20대 2021 7월 중식 18
남자 20대 2021 7월 한식 14
남자 20대 2021 7월 분식 17
남자 20대 2021 7월 카페,디저트 10
2021년 8월
남자 20대 2021 8월 주점 29
남자 20대 2021 8월 서양식,아시아음식 36
남자 20대 2021 8월 어류,해물 28
남자 20대 2021 8월 음식점 기타 18
남자 20대 2021 8월 중식 19
남자 20대 2021 8월 한식 14
남자 20대 2021 8월 분식 16
남자 20대 2021 8월 카페,디저트 11
2021년 9월
남자 20대 2021 9월 주점 34
남자 20대 2021 9월 서양식,아시아음식 40
남자 20대 2021 9월 어류,해물 32
남자 20대 2021 9월 음식점 기타 21
남자 20대 2021 9월 중식 22
남자 20대 2021 9월 한식 15
남자 20대 2021 9월 분식 19
남자 20대 2021 9월 카페,디저트 13
2021년 10월
남자 20대 2021 10월 주점 43
남자 20대 2021 10월 서양식,아시아음식 42
남자 20대 2021 10월 어류,해물 35
남자 20대 2021 10월 음식점 기타 24
남자 20대 2021 10월 중식 23
남자 20대 2021 10월 한식 18
남자 20대 2021 10월 분식 20
남자 20대 2021 10월 카페,디저트 13
2021년 11월
남자 20대 2021 11월 주점 84
남자 20대 2021 11월 서양식,아시아음식 42
남자 20대 2021 11월 어류,해물 39
남자 20대 2021 11월 음식점 기타 24
남자 20대 2021 11월 중식 25
남자 20대 2021 11월 한식 24
남자 20대 2021 11월 분식 21
남자 20대 2021 11월 카페,디저트 12
2021년 12월
남자 20대 2021 12월 주점 66
남자 20대 2021 12월 서양식,아시아음식 41
남자 20대 2021 12월 어류,해물 39
남자 20대 2021 12월 음식점 기타 23
남자 20대 2021 12월 중식 25
남자 20대 2021 12월 한식 20
남자 20대 2021 12월 분식 19
남자 20대 2021 12월 카페,디저트 14
2022년 1월
남자 20대 2022 1월 주점 42
남자 20대 2022 1월 서양식,아시아음식 34
남자 20대 2022 1월 어류,해물 30
남자 20대 2022 1월 음식점 기타 18
남자 20대 2022 1월 중식 20
남자 20대 2022 1월 한식 15
남자 20대 2022 1월 분식 16
남자 20대 2022 1월 카페,디저트 12
2022년 2월
남자 20대 2022 2월 주점 37
남자 20대 2022 2월 서양식,아시아음식 31
남자 20대 2022 2월 어류,해물 26
남자 20대 2022 2월 음식점 기타 14
남자 20대 2022 2월 중식 17
남자 20대 2022 2월 한식 13
남자 20대 2022 2월 분식 13
남자 20대 2022 2월 카페,디저트 10
2022년 3월
남자 20대 2022 3월 주점 56
남자 20대 2022 3월 서양식,아시아음식 36
남자 20대 2022 3월 어류,해물 31
남자 20대 2022 3월 음식점 기타 28
남자 20대 2022 3월 중식 21
남자 20대 2022 3월 한식 19
남자 20대 2022 3월 분식 17
남자 20대 2022 3월 카페,디저트 11
2022년 4월
남자 20대 2022 4월 주점 76
남자 20대 2022 4월 서양식,아시아음식 40
남자 20대 2022 4월 어류,해물 34
남자 20대 2022 4월 음식점 기타 32
남자 20대 2022 4월 중식 23
남자 20대 2022 4월 한식 22
남자 20대 2022 4월 분식 20
남자 20대 2022 4월 카페,디저트 11
2022년 5월
남자 20대 2022 5월 주점 100
남자 20대 2022 5월 서양식,아시아음식 42
남자 20대 2022 5월 어류,해물 38
남자 20대 2022 5월 음식점 기타 31
남자 20대 2022 5월 중식 26
남자 20대 2022 5월 한식 26
남자 20대 2022 5월 분식 23
남자 20대 2022 5월 카페,디저트 12
2022년 6월
남자 20대 2022 6월 주점 91
남자 20대 2022 6월 서양식,아시아음식 39
남자 20대 2022 6월 어류,해물 35
남자 20대 2022 6월 음식점 기타 27
남자 20대 2022 6월 중식 25
남자 20대 2022 6월 한식 21
남자 20대 2022 6월 분식 21
남자 20대 2022 6월 카페,디저트 11
2022년 7월
남자 20대 2022 7월 주점 91
남자 20대 2022 7월 서양식,아시아음식 41
남자 20대 2022 7월 어류,해물 38
남자 20대 2022 7월 음식점 기타 25
남자 20대 2022 7월 중식 27
남자 20대 2022 7월 한식 22
남자 20대 2022 7월 분식 21
남자 20대 2022 7월 카페,디저트 11
30대
2021년 7월
남자 30대 2021 7월 주점 33
남자 30대 2021 7월 서양식,아시아음식 30
남자 30대 2021 7월 어류,해물 26
남자 30대 2021 7월 중식 21
남자 30대 2021 7월 한식 16
남자 30대 2021 7월 음식점 기타 18
남자 30대 2021 7월 분식 14
남자 30대 2021 7월 카페,디저트 12
2021년 8월
남자 30대 2021 8월 주점 29
남자 30대 2021 8월 서양식,아시아음식 30
남자 30대 2021 8월 어류,해물 24
남자 30대 2021 8월 중식 21
남자 30대 2021 8월 한식 16
남자 30대 2021 8월 음식점 기타 15
남자 30대 2021 8월 분식 13
남자 30대 2021 8월 카페,디저트 12
2021년 9월
남자 30대 2021 9월 주점 34
남자 30대 2021 9월 서양식,아시아음식 32
남자 30대 2021 9월 어류,해물 27
남자 30대 2021 9월 중식 22
남자 30대 2021 9월 한식 17
남자 30대 2021 9월 음식점 기타 14
남자 30대 2021 9월 분식 14
남자 30대 2021 9월 카페,디저트 13
2021년 10월
남자 30대 2021 10월 주점 41
남자 30대 2021 10월 서양식,아시아음식 33
남자 30대 2021 10월 어류,해물 31
남자 30대 2021 10월 중식 25
남자 30대 2021 10월 한식 25
남자 30대 2021 10월 음식점 기타 15
남자 30대 2021 10월 분식 15
남자 30대 2021 10월 카페,디저트 13
2021년 11월
남자 30대 2021 11월 주점 77
남자 30대 2021 11월 서양식,아시아음식 34
남자 30대 2021 11월 어류,해물 35
남자 30대 2021 11월 중식 28
남자 30대 2021 11월 한식 31
남자 30대 2021 11월 음식점 기타 16
남자 30대 2021 11월 분식 15
남자 30대 2021 11월 카페,디저트 12
2021년 12월
남자 30대 2021 12월 주점 60
남자 30대 2021 12월 서양식,아시아음식 32
남자 30대 2021 12월 어류,해물 33
남자 30대 2021 12월 중식 26
남자 30대 2021 12월 한식 20
남자 30대 2021 12월 음식점 기타 16
남자 30대 2021 12월 분식 14
남자 30대 2021 12월 카페,디저트 14
2022년 1월
남자 30대 2022 1월 주점 38
남자 30대 2022 1월 서양식,아시아음식 30
남자 30대 2022 1월 어류,해물 29
남자 30대 2022 1월 중식 24
남자 30대 2022 1월 한식 18
남자 30대 2022 1월 음식점 기타 16
남자 30대 2022 1월 분식 13
남자 30대 2022 1월 카페,디저트 13
2022년 2월
남자 30대 2022 2월 주점 33
남자 30대 2022 2월 서양식,아시아음식 27
남자 30대 2022 2월 어류,해물 24
남자 30대 2022 2월 중식 20
남자 30대 2022 2월 한식 15
남자 30대 2022 2월 음식점 기타 13
남자 30대 2022 2월 분식 11
남자 30대 2022 2월 카페,디저트 11
2022년 3월
남자 30대 2022 3월 주점 54
남자 30대 2022 3월 서양식,아시아음식 31
남자 30대 2022 3월 어류,해물 30
남자 30대 2022 3월 중식 23
남자 30대 2022 3월 한식 20
남자 30대 2022 3월 음식점 기타 16
남자 30대 2022 3월 분식 13
남자 30대 2022 3월 카페,디저트 13
2022년 4월
남자 30대 2022 4월 주점 79
남자 30대 2022 4월 서양식,아시아음식 36
남자 30대 2022 4월 어류,해물 35
남자 30대 2022 4월 중식 27
남자 30대 2022 4월 한식 35
남자 30대 2022 4월 음식점 기타 17
남자 30대 2022 4월 분식 16
남자 30대 2022 4월 카페,디저트 13
2022년 5월
남자 30대 2022 5월 주점 100
남자 30대 2022 5월 서양식,아시아음식 37
남자 30대 2022 5월 어류,해물 38
남자 30대 2022 5월 중식 31
남자 30대 2022 5월 한식 27
남자 30대 2022 5월 음식점 기타 18
남자 30대 2022 5월 분식 18
남자 30대 2022 5월 카페,디저트 13
2022년 6월
남자 30대 2022 6월 주점 92
남자 30대 2022 6월 서양식,아시아음식 34
남자 30대 2022 6월 어류,해물 35
남자 30대 2022 6월 중식 29
남자 30대 2022 6월 한식 28
남자 30대 2022 6월 음식점 기타 17
남자 30대 2022 6월 분식 17
남자 30대 2022 6월 카페,디저트 12
2022년 7월
남자 30대 2022 7월 주점 93
남자 30대 2022 7월 서양식,아시아음식 35
남자 30대 2022 7월 어류,해물 36
남자 30대 2022 7월 중식 30
남자 30대 2022 7월 한식 24
남자 30대 2022 7월 음식점 기타 19
남자 30대 2022 7월 분식 17
남자 30대 2022 7월 카페,디저트 12
40대
2021년 7월
남자 40대 2021 7월 주점 39
남자 40대 2021 7월 중식 23
남자 40대 2021 7월 서양식,아시아음식 22
남자 40대 2021 7월 어류,해물 20
남자 40대 2021 7월 한식 19
남자 40대 2021 7월 음식점 기타 19
남자 40대 2021 7월 분식 17
남자 40대 2021 7월 카페,디저트 14
2021년 8월
남자 40대 2021 8월 주점 32
남자 40대 2021 8월 중식 22
남자 40대 2021 8월 서양식,아시아음식 22
남자 40대 2021 8월 어류,해물 17
남자 40대 2021 8월 한식 17
남자 40대 2021 8월 음식점 기타 16
남자 40대 2021 8월 분식 15
남자 40대 2021 8월 카페,디저트 14
2021년 9월
남자 40대 2021 9월 주점 37
남자 40대 2021 9월 중식 23
남자 40대 2021 9월 서양식,아시아음식 23
남자 40대 2021 9월 어류,해물 20
남자 40대 2021 9월 한식 18
남자 40대 2021 9월 음식점 기타 16
남자 40대 2021 9월 분식 16
남자 40대 2021 9월 카페,디저트 16
2021년 10월
남자 40대 2021 10월 주점 46
남자 40대 2021 10월 중식 26
남자 40대 2021 10월 서양식,아시아음식 24
남자 40대 2021 10월 어류,해물 23
남자 40대 2021 10월 한식 22
남자 40대 2021 10월 음식점 기타 16
남자 40대 2021 10월 분식 17
남자 40대 2021 10월 카페,디저트 16
2021년 11월
남자 40대 2021 11월 주점 78
남자 40대 2021 11월 중식 27
남자 40대 2021 11월 서양식,아시아음식 24
남자 40대 2021 11월 어류,해물 25
남자 40대 2021 11월 한식 24
남자 40대 2021 11월 음식점 기타 18
남자 40대 2021 11월 분식 17
남자 40대 2021 11월 카페,디저트 14
2021년 12월
남자 40대 2021 12월 주점 67
남자 40대 2021 12월 중식 27
남자 40대 2021 12월 서양식,아시아음식 24
남자 40대 2021 12월 어류,해물 25
남자 40대 2021 12월 한식 21
남자 40대 2021 12월 음식점 기타 17
남자 40대 2021 12월 분식 16
남자 40대 2021 12월 카페,디저트 17
2022년 1월
남자 40대 2022 1월 주점 41
남자 40대 2022 1월 중식 26
남자 40대 2022 1월 서양식,아시아음식 23
남자 40대 2022 1월 어류,해물 22
남자 40대 2022 1월 한식 19
남자 40대 2022 1월 음식점 기타 19
남자 40대 2022 1월 분식 15
남자 40대 2022 1월 카페,디저트 16
2022년 2월
남자 40대 2022 2월 주점 36
남자 40대 2022 2월 중식 21
남자 40대 2022 2월 서양식,아시아음식 19
남자 40대 2022 2월 어류,해물 17
남자 40대 2022 2월 한식 15
남자 40대 2022 2월 음식점 기타 14
남자 40대 2022 2월 분식 12
남자 40대 2022 2월 카페,디저트 14
2022년 3월
남자 40대 2022 3월 주점 55
남자 40대 2022 3월 중식 24
남자 40대 2022 3월 서양식,아시아음식 23
남자 40대 2022 3월 어류,해물 21
남자 40대 2022 3월 한식 20
남자 40대 2022 3월 음식점 기타 18
남자 40대 2022 3월 분식 15
남자 40대 2022 3월 카페,디저트 16
2022년 4월
남자 40대 2022 4월 주점 81
남자 40대 2022 4월 중식 27
남자 40대 2022 4월 서양식,아시아음식 27
남자 40대 2022 4월 어류,해물 26
남자 40대 2022 4월 한식 32
남자 40대 2022 4월 음식점 기타 19
남자 40대 2022 4월 분식 18
남자 40대 2022 4월 카페,디저트 15
2022년 5월
남자 40대 2022 5월 주점 100
남자 40대 2022 5월 중식 31
남자 40대 2022 5월 서양식,아시아음식 28
남자 40대 2022 5월 어류,해물 29
남자 40대 2022 5월 한식 33
남자 40대 2022 5월 음식점 기타 19
남자 40대 2022 5월 분식 20
남자 40대 2022 5월 카페,디저트 16
2022년 6월
남자 40대 2022 6월 주점 97
남자 40대 2022 6월 중식 30
남자 40대 2022 6월 서양식,아시아음식 26
남자 40대 2022 6월 어류,해물 27
남자 40대 2022 6월 한식 27
남자 40대 2022 6월 음식점 기타 19
남자 40대 2022 6월 분식 20
남자 40대 2022 6월 카페,디저트 15
2022년 7월
남자 40대 2022 7월 주점 98
남자 40대 2022 7월 중식 32
남자 40대 2022 7월 서양식,아시아음식 27
남자 40대 2022 7월 어류,해물 28
남자 40대 2022 7월 한식 26
남자 40대 2022 7월 음식점 기타 21
남자 40대 2022 7월 분식 20
남자 40대 2022 7월 카페,디저트 15
50대
2021년 7월
남자 50대 2021 7월 주점 26
남자 50대 2021 7월 한식 21
남자 50대 2021 7월 중식 21
남자 50대 2021 7월 어류,해물 18
남자 50대 2021 7월 음식점 기타 20
남자 50대 2021 7월 서양식,아시아음식 16
남자 50대 2021 7월 분식 16
남자 50대 2021 7월 카페,디저트 12
2021년 8월
남자 50대 2021 8월 주점 24
남자 50대 2021 8월 한식 21
남자 50대 2021 8월 중식 21
남자 50대 2021 8월 어류,해물 16
남자 50대 2021 8월 음식점 기타 16
남자 50대 2021 8월 서양식,아시아음식 15
남자 50대 2021 8월 분식 14
남자 50대 2021 8월 카페,디저트 13
2021년 9월
남자 50대 2021 9월 주점 24
남자 50대 2021 9월 한식 20
남자 50대 2021 9월 중식 22
남자 50대 2021 9월 어류,해물 18
남자 50대 2021 9월 음식점 기타 18
남자 50대 2021 9월 서양식,아시아음식 15
남자 50대 2021 9월 분식 14
남자 50대 2021 9월 카페,디저트 15

2021년 10월
남자 50대 2021 10월 주점 29
남자 50대 2021 10월 한식 24
남자 50대 2021 10월 중식 23
남자 50대 2021 10월 어류,해물 21
남자 50대 2021 10월 음식점 기타 17
남자 50대 2021 10월 서양식,아시아음식 17
남자 50대 2021 10월 분식 15
남자 50대 2021 10월 카페,디저트 14
2021년 11월
남자 50대 2021 11월 주점 67
남자 50대 2021 11월 한식 25
남자 50대 2021 11월 중식 25
남자 50대 2021 11월 어류,해물 22
남자 50대 2021 11월 음식점 기타 16
남자 50대 2021 11월 서양식,아시아음식 17
남자 50대 2021 11월 분식 15
남자 50대 2021 11월 카페,디저트 13
2021년 12월
남자 50대 2021 12월 주점 56
남자 50대 2021 12월 한식 26
남자 50대 2021 12월 중식 25
남자 50대 2021 12월 어류,해물 23
남자 50대 2021 12월 음식점 기타 17
남자 50대 2021 12월 서양식,아시아음식 17
남자 50대 2021 12월 분식 14
남자 50대 2021 12월 카페,디저트 15
2022년 1월
남자 50대 2022 1월 주점 40
남자 50대 2022 1월 한식 23
남자 50대 2022 1월 중식 26
남자 50대 2022 1월 어류,해물 22
남자 50대 2022 1월 음식점 기타 19
남자 50대 2022 1월 서양식,아시아음식 17
남자 50대 2022 1월 분식 14
남자 50대 2022 1월 카페,디저트 15
2022년 2월
남자 50대 2022 2월 주점 34
남자 50대 2022 2월 한식 24
남자 50대 2022 2월 중식 21
남자 50대 2022 2월 어류,해물 16
남자 50대 2022 2월 음식점 기타 15
남자 50대 2022 2월 서양식,아시아음식 14
남자 50대 2022 2월 분식 12
남자 50대 2022 2월 카페,디저트 13
2022년 3월
남자 50대 2022 3월 주점 57
남자 50대 2022 3월 한식 23
남자 50대 2022 3월 중식 23
남자 50대 2022 3월 어류,해물 19
남자 50대 2022 3월 음식점 기타 20
남자 50대 2022 3월 서양식,아시아음식 16
남자 50대 2022 3월 분식 15
남자 50대 2022 3월 카페,디저트 16
2022년 4월
남자 50대 2022 4월 주점 77
남자 50대 2022 4월 한식 28
남자 50대 2022 4월 중식 25
남자 50대 2022 4월 어류,해물 23
남자 50대 2022 4월 음식점 기타 20
남자 50대 2022 4월 서양식,아시아음식 19
남자 50대 2022 4월 분식 17
남자 50대 2022 4월 카페,디저트 15
2022년 5월
남자 50대 2022 5월 주점 98
남자 50대 2022 5월 한식 37
남자 50대 2022 5월 중식 29
남자 50대 2022 5월 어류,해물 26
남자 50대 2022 5월 음식점 기타 21
남자 50대 2022 5월 서양식,아시아음식 20
남자 50대 2022 5월 분식 19
남자 50대 2022 5월 카페,디저트 15
2022년 6월
남자 50대 2022 6월 주점 97
남자 50대 2022 6월 한식 28
남자 50대 2022 6월 중식 28
남자 50대 2022 6월 어류,해물 24
남자 50대 2022 6월 음식점 기타 20
남자 50대 2022 6월 서양식,아시아음식 19
남자 50대 2022 6월 분식 19
남자 50대 2022 6월 카페,디저트 14
2022년 7월
남자 50대 2022 7월 주점 100
남자 50대 2022 7월 한식 30
남자 50대 2022 7월 중식 29
남자 50대 2022 7월 어류,해물 24
남자 50대 2022 7월 음식점 기타 22
남자 50대 2022 7월 서양식,아시아음식 20
남자 50대 2022 7월 분식 20
남자 50대 2022 7월 카페,디저트 14
60대이상
2021년 7월
남자 60대이상 2021 7월 주점 22
남자 60대이상 2021 7월 한식 36
남자 60대이상 2021 7월 어류,해물 24
남자 60대이상 2021 7월 중식 24
남자 60대이상 2021 7월 카페,디저트 18
남자 60대이상 2021 7월 서양식,아시아음식 14
남자 60대이상 2021 7월 분식 15
남자 60대이상 2021 7월 음식점 기타 16
2021년 8월
남자 60대이상 2021 8월 주점 21
남자 60대이상 2021 8월 한식 40
남자 60대이상 2021 8월 어류,해물 23
남자 60대이상 2021 8월 중식 24
남자 60대이상 2021 8월 카페,디저트 19
남자 60대이상 2021 8월 서양식,아시아음식 14
남자 60대이상 2021 8월 분식 14
남자 60대이상 2021 8월 음식점 기타 14
2021년 9월
남자 60대이상 2021 9월 주점 24
남자 60대이상 2021 9월 한식 35
남자 60대이상 2021 9월 어류,해물 28
남자 60대이상 2021 9월 중식 26
남자 60대이상 2021 9월 카페,디저트 24
남자 60대이상 2021 9월 서양식,아시아음식 14
남자 60대이상 2021 9월 분식 14
남자 60대이상 2021 9월 음식점 기타 15
2021년 10월
남자 60대이상 2021 10월 주점 27
남자 60대이상 2021 10월 한식 41
남자 60대이상 2021 10월 어류,해물 32
남자 60대이상 2021 10월 중식 30
남자 60대이상 2021 10월 카페,디저트 20
남자 60대이상 2021 10월 서양식,아시아음식 16
남자 60대이상 2021 10월 분식 15
남자 60대이상 2021 10월 음식점 기타 15
2021년 11월
남자 60대이상 2021 11월 주점 66
남자 60대이상 2021 11월 한식 40
남자 60대이상 2021 11월 어류,해물 31
남자 60대이상 2021 11월 중식 31
남자 60대이상 2021 11월 카페,디저트 19
남자 60대이상 2021 11월 서양식,아시아음식 17
남자 60대이상 2021 11월 분식 15
남자 60대이상 2021 11월 음식점 기타 15
2021년 12월
남자 60대이상 2021 12월 주점 56
남자 60대이상 2021 12월 한식 40
남자 60대이상 2021 12월 어류,해물 31
남자 60대이상 2021 12월 중식 29
남자 60대이상 2021 12월 카페,디저트 23
남자 60대이상 2021 12월 서양식,아시아음식 16
남자 60대이상 2021 12월 분식 14
남자 60대이상 2021 12월 음식점 기타 14
2022년 1월
남자 60대이상 2022 1월 주점 47
남자 60대이상 2022 1월 한식 39
남자 60대이상 2022 1월 어류,해물 31
남자 60대이상 2022 1월 중식 32
남자 60대이상 2022 1월 카페,디저트 25
남자 60대이상 2022 1월 서양식,아시아음식 16
남자 60대이상 2022 1월 분식 15
남자 60대이상 2022 1월 음식점 기타 14
2022년 2월
남자 60대이상 2022 2월 주점 40
남자 60대이상 2022 2월 한식 39
남자 60대이상 2022 2월 어류,해물 24
남자 60대이상 2022 2월 중식 26
남자 60대이상 2022 2월 카페,디저트 20
남자 60대이상 2022 2월 서양식,아시아음식 14
남자 60대이상 2022 2월 분식 12
남자 60대이상 2022 2월 음식점 기타 16
2022년 3월
남자 60대이상 2022 3월 주점 62
남자 60대이상 2022 3월 한식 57
남자 60대이상 2022 3월 어류,해물 28
남자 60대이상 2022 3월 중식 29
남자 60대이상 2022 3월 카페,디저트 24
남자 60대이상 2022 3월 서양식,아시아음식 16
남자 60대이상 2022 3월 분식 16
남자 60대이상 2022 3월 음식점 기타 17
2022년 4월
남자 60대이상 2022 4월 주점 76
남자 60대이상 2022 4월 한식 57
남자 60대이상 2022 4월 어류,해물 34
남자 60대이상 2022 4월 중식 32
남자 60대이상 2022 4월 카페,디저트 24
남자 60대이상 2022 4월 서양식,아시아음식 19
남자 60대이상 2022 4월 분식 17
남자 60대이상 2022 4월 음식점 기타 17
2022년 5월
남자 60대이상 2022 5월 주점 99
남자 60대이상 2022 5월 한식 66
남자 60대이상 2022 5월 어류,해물 40
남자 60대이상 2022 5월 중식 39
남자 60대이상 2022 5월 카페,디저트 24
남자 60대이상 2022 5월 서양식,아시아음식 20
남자 60대이상 2022 5월 분식 20
남자 60대이상 2022 5월 음식점 기타 18
2022년 6월
남자 60대이상 2022 6월 주점 100
남자 60대이상 2022 6월 한식 56
남자 60대이상 2022 6월 어류,해물 37
남자 60대이상 2022 6월 중식 37
남자 60대이상 2022 6월 카페,디저트 22
남자 60대이상 2022 6월 서양식,아시아음식 20
남자 60대이상 2022 6월 분식 20
남자 60대이상 2022 6월 음식점 기타 18
2022년 7월
남자 60대이상 2022 7월 주점 98
남자 60대이상 2022 7월 한식 57
남자 60대이상 2022 7월 어류,해물 33
남자 60대이상 2022 7월 중식 37
남자 60대이상 2022 7월 카페,디저트 22
남자 60대이상 2022 7월 서양식,아시아음식 20
남자 60대이상 2022 7월 분식 20
남자 60대이상 2022 7월 음식점 기타 20
여자
20대
2021년 7월
여자 20대 2021 7월 서양식,아시아음식 62
여자 20대 2021 7월 주점 36
여자 20대 2021 7월 어류,해물 32
여자 20대 2021 7월 카페,디저트 28
여자 20대 2021 7월 중식 23
여자 20대 2021 7월 음식점 기타 20
여자 20대 2021 7월 한식 15
여자 20대 2021 7월 분식 20
2021년 8월
여자 20대 2021 8월 서양식,아시아음식 65
여자 20대 2021 8월 주점 33
여자 20대 2021 8월 어류,해물 34
여자 20대 2021 8월 카페,디저트 30
여자 20대 2021 8월 중식 25
여자 20대 2021 8월 음식점 기타 17
여자 20대 2021 8월 한식 15
여자 20대 2021 8월 분식 18
2021년 9월
여자 20대 2021 9월 서양식,아시아음식 73
여자 20대 2021 9월 주점 40
여자 20대 2021 9월 어류,해물 40
여자 20대 2021 9월 카페,디저트 34
여자 20대 2021 9월 중식 28
여자 20대 2021 9월 음식점 기타 20
여자 20대 2021 9월 한식 18
여자 20대 2021 9월 분식 23
2021년 10월
여자 20대 2021 10월 서양식,아시아음식 79
여자 20대 2021 10월 주점 50
여자 20대 2021 10월 어류,해물 45
여자 20대 2021 10월 카페,디저트 35
여자 20대 2021 10월 중식 31
여자 20대 2021 10월 음식점 기타 24
여자 20대 2021 10월 한식 40
여자 20대 2021 10월 분식 24
2021년 11월
여자 20대 2021 11월 서양식,아시아음식 80
여자 20대 2021 11월 주점 84
여자 20대 2021 11월 어류,해물 50
여자 20대 2021 11월 카페,디저트 32
여자 20대 2021 11월 중식 34
여자 20대 2021 11월 음식점 기타 24
여자 20대 2021 11월 한식 26
여자 20대 2021 11월 분식 25
2021년 12월
여자 20대 2021 12월 서양식,아시아음식 78
여자 20대 2021 12월 주점 66
여자 20대 2021 12월 어류,해물 48
여자 20대 2021 12월 카페,디저트 37
여자 20대 2021 12월 중식 32
여자 20대 2021 12월 음식점 기타 22
여자 20대 2021 12월 한식 23
여자 20대 2021 12월 분식 23
2022년 1월
여자 20대 2022 1월 서양식,아시아음식 67
여자 20대 2022 1월 주점 50
여자 20대 2022 1월 어류,해물 40
여자 20대 2022 1월 카페,디저트 32
여자 20대 2022 1월 중식 28
여자 20대 2022 1월 음식점 기타 18
여자 20대 2022 1월 한식 18
여자 20대 2022 1월 분식 19
2022년 2월
여자 20대 2022 2월 서양식,아시아음식 57
여자 20대 2022 2월 주점 39
여자 20대 2022 2월 어류,해물 33
여자 20대 2022 2월 카페,디저트 27
여자 20대 2022 2월 중식 22
여자 20대 2022 2월 음식점 기타 13
여자 20대 2022 2월 한식 14
여자 20대 2022 2월 분식 15
2022년 3월
여자 20대 2022 3월 서양식,아시아음식 67
여자 20대 2022 3월 주점 59
여자 20대 2022 3월 어류,해물 40
여자 20대 2022 3월 카페,디저트 31
여자 20대 2022 3월 중식 27
여자 20대 2022 3월 음식점 기타 30
여자 20대 2022 3월 한식 19
여자 20대 2022 3월 분식 20
2022년 4월
여자 20대 2022 4월 서양식,아시아음식 78
여자 20대 2022 4월 주점 79
여자 20대 2022 4월 어류,해물 47
여자 20대 2022 4월 카페,디저트 33
여자 20대 2022 4월 중식 31
여자 20대 2022 4월 음식점 기타 34
여자 20대 2022 4월 한식 22
여자 20대 2022 4월 분식 25
2022년 5월
여자 20대 2022 5월 서양식,아시아음식 80
여자 20대 2022 5월 주점 100
여자 20대 2022 5월 어류,해물 52
여자 20대 2022 5월 카페,디저트 34
여자 20대 2022 5월 중식 36
여자 20대 2022 5월 음식점 기타 33
여자 20대 2022 5월 한식 33
여자 20대 2022 5월 분식 28
2022년 6월
여자 20대 2022 6월 서양식,아시아음식 74
여자 20대 2022 6월 주점 91
여자 20대 2022 6월 어류,해물 48
여자 20대 2022 6월 카페,디저트 30
여자 20대 2022 6월 중식 35
여자 20대 2022 6월 음식점 기타 28
여자 20대 2022 6월 한식 24
여자 20대 2022 6월 분식 26
2022년 7월
여자 20대 2022 7월 서양식,아시아음식 77
여자 20대 2022 7월 주점 95
여자 20대 2022 7월 어류,해물 51
여자 20대 2022 7월 카페,디저트 30
여자 20대 2022 7월 중식 37
여자 20대 2022 7월 음식점 기타 24
여자 20대 2022 7월 한식 24
여자 20대 2022 7월 분식 25
30대
2021년 7월
여자 30대 2021 7월 서양식,아시아음식 74
여자 30대 2021 7월 주점 31
여자 30대 2021 7월 카페,디저트 48
여자 30대 2021 7월 어류,해물 38
여자 30대 2021 7월 중식 33
여자 30대 2021 7월 한식 26
여자 30대 2021 7월 분식 28
여자 30대 2021 7월 음식점 기타 27
2021년 8월
여자 30대 2021 8월 서양식,아시아음식 74
여자 30대 2021 8월 주점 31
여자 30대 2021 8월 카페,디저트 49
여자 30대 2021 8월 어류,해물 37
여자 30대 2021 8월 중식 33
여자 30대 2021 8월 한식 26
여자 30대 2021 8월 분식 25
여자 30대 2021 8월 음식점 기타 23
2021년 9월
여자 30대 2021 9월 서양식,아시아음식 81
여자 30대 2021 9월 주점 33
여자 30대 2021 9월 카페,디저트 54
여자 30대 2021 9월 어류,해물 42
여자 30대 2021 9월 중식 35
여자 30대 2021 9월 한식 40
여자 30대 2021 9월 분식 28
여자 30대 2021 9월 음식점 기타 24
2021년 10월
여자 30대 2021 10월 서양식,아시아음식 88
여자 30대 2021 10월 주점 44
여자 30대 2021 10월 카페,디저트 54
여자 30대 2021 10월 어류,해물 48
여자 30대 2021 10월 중식 40
여자 30대 2021 10월 한식 34
여자 30대 2021 10월 분식 30
여자 30대 2021 10월 음식점 기타 25
2021년 11월
여자 30대 2021 11월 서양식,아시아음식 86
여자 30대 2021 11월 주점 65
여자 30대 2021 11월 카페,디저트 50
여자 30대 2021 11월 어류,해물 54
여자 30대 2021 11월 중식 43
여자 30대 2021 11월 한식 36
여자 30대 2021 11월 분식 30
여자 30대 2021 11월 음식점 기타 27

2021년 12월
여자 30대 2021 12월 서양식,아시아음식 81
여자 30대 2021 12월 주점 53
여자 30대 2021 12월 카페,디저트 55
여자 30대 2021 12월 어류,해물 51
여자 30대 2021 12월 중식 39
여자 30대 2021 12월 한식 33
여자 30대 2021 12월 분식 28
여자 30대 2021 12월 음식점 기타 26
2022년 1월
여자 30대 2022 1월 서양식,아시아음식 79
여자 30대 2022 1월 주점 39
여자 30대 2022 1월 카페,디저트 53
여자 30대 2022 1월 어류,해물 46
여자 30대 2022 1월 중식 38
여자 30대 2022 1월 한식 39
여자 30대 2022 1월 분식 26
여자 30대 2022 1월 음식점 기타 29
2022년 2월
여자 30대 2022 2월 서양식,아시아음식 67
여자 30대 2022 2월 주점 35
여자 30대 2022 2월 카페,디저트 44
여자 30대 2022 2월 어류,해물 37
여자 30대 2022 2월 중식 31
여자 30대 2022 2월 한식 22
여자 30대 2022 2월 분식 21
여자 30대 2022 2월 음식점 기타 21
2022년 3월
여자 30대 2022 3월 서양식,아시아음식 78
여자 30대 2022 3월 주점 54
여자 30대 2022 3월 카페,디저트 51
여자 30대 2022 3월 어류,해물 46
여자 30대 2022 3월 중식 35
여자 30대 2022 3월 한식 31
여자 30대 2022 3월 분식 27
여자 30대 2022 3월 음식점 기타 26
2022년 4월
여자 30대 2022 4월 서양식,아시아음식 96
여자 30대 2022 4월 주점 81
여자 30대 2022 4월 카페,디저트 53
여자 30대 2022 4월 어류,해물 58
여자 30대 2022 4월 중식 42
여자 30대 2022 4월 한식 37
여자 30대 2022 4월 분식 33
여자 30대 2022 4월 음식점 기타 28
2022년 5월
여자 30대 2022 5월 서양식,아시아음식 100
여자 30대 2022 5월 주점 98
여자 30대 2022 5월 카페,디저트 56
여자 30대 2022 5월 어류,해물 65
여자 30대 2022 5월 중식 50
여자 30대 2022 5월 한식 57
여자 30대 2022 5월 분식 37
여자 30대 2022 5월 음식점 기타 28
2022년 6월
여자 30대 2022 6월 서양식,아시아음식 92
여자 30대 2022 6월 주점 92
여자 30대 2022 6월 카페,디저트 50
여자 30대 2022 6월 어류,해물 59
여자 30대 2022 6월 중식 48
여자 30대 2022 6월 한식 39
여자 30대 2022 6월 분식 35
여자 30대 2022 6월 음식점 기타 31
2022년 7월
여자 30대 2022 7월 서양식,아시아음식 94
여자 30대 2022 7월 주점 92
여자 30대 2022 7월 카페,디저트 51
여자 30대 2022 7월 어류,해물 61
여자 30대 2022 7월 중식 49
여자 30대 2022 7월 한식 39
여자 30대 2022 7월 분식 35
여자 30대 2022 7월 음식점 기타 32
40대
2021년 7월
여자 40대 2021 7월 서양식,아시아음식 79
여자 40대 2021 7월 카페,디저트 75
여자 40대 2021 7월 중식 46
여자 40대 2021 7월 분식 53
여자 40대 2021 7월 한식 38
여자 40대 2021 7월 주점 29
여자 40대 2021 7월 어류,해물 38
여자 40대 2021 7월 음식점 기타 47
2021년 8월
여자 40대 2021 8월 서양식,아시아음식 77
여자 40대 2021 8월 카페,디저트 77
여자 40대 2021 8월 중식 46
여자 40대 2021 8월 분식 48
여자 40대 2021 8월 한식 37
여자 40대 2021 8월 주점 26
여자 40대 2021 8월 어류,해물 37
여자 40대 2021 8월 음식점 기타 38
2021년 9월
여자 40대 2021 9월 서양식,아시아음식 80
여자 40대 2021 9월 카페,디저트 85
여자 40대 2021 9월 중식 46
여자 40대 2021 9월 분식 48
여자 40대 2021 9월 한식 38
여자 40대 2021 9월 주점 28
여자 40대 2021 9월 어류,해물 40
여자 40대 2021 9월 음식점 기타 41
2021년 10월
여자 40대 2021 10월 서양식,아시아음식 86
여자 40대 2021 10월 카페,디저트 82
여자 40대 2021 10월 중식 52
여자 40대 2021 10월 분식 54
여자 40대 2021 10월 한식 44
여자 40대 2021 10월 주점 35
여자 40대 2021 10월 어류,해물 47
여자 40대 2021 10월 음식점 기타 39
2021년 11월
여자 40대 2021 11월 서양식,아시아음식 84
여자 40대 2021 11월 카페,디저트 78
여자 40대 2021 11월 중식 56
여자 40대 2021 11월 분식 52
여자 40대 2021 11월 한식 51
여자 40대 2021 11월 주점 55
여자 40대 2021 11월 어류,해물 49
여자 40대 2021 11월 음식점 기타 35
2021년 12월
여자 40대 2021 12월 서양식,아시아음식 81
여자 40대 2021 12월 카페,디저트 85
여자 40대 2021 12월 중식 53
여자 40대 2021 12월 분식 49
여자 40대 2021 12월 한식 50
여자 40대 2021 12월 주점 46
여자 40대 2021 12월 어류,해물 48
여자 40대 2021 12월 음식점 기타 39
2022년 1월
여자 40대 2022 1월 서양식,아시아음식 78
여자 40대 2022 1월 카페,디저트 82
여자 40대 2022 1월 중식 51
여자 40대 2022 1월 분식 46
여자 40대 2022 1월 한식 39
여자 40대 2022 1월 주점 33
여자 40대 2022 1월 어류,해물 43
여자 40대 2022 1월 음식점 기타 40
2022년 2월
여자 40대 2022 2월 서양식,아시아음식 65
여자 40대 2022 2월 카페,디저트 68
여자 40대 2022 2월 중식 41
여자 40대 2022 2월 분식 37
여자 40대 2022 2월 한식 30
여자 40대 2022 2월 주점 27
여자 40대 2022 2월 어류,해물 33
여자 40대 2022 2월 음식점 기타 32
2022년 3월
여자 40대 2022 3월 서양식,아시아음식 74
여자 40대 2022 3월 카페,디저트 80
여자 40대 2022 3월 중식 46
여자 40대 2022 3월 분식 46
여자 40대 2022 3월 한식 40
여자 40대 2022 3월 주점 42
여자 40대 2022 3월 어류,해물 39
여자 40대 2022 3월 음식점 기타 43
2022년 4월
여자 40대 2022 4월 서양식,아시아음식 93
여자 40대 2022 4월 카페,디저트 83
여자 40대 2022 4월 중식 54
여자 40대 2022 4월 분식 55
여자 40대 2022 4월 한식 64
여자 40대 2022 4월 주점 64
여자 40대 2022 4월 어류,해물 52
여자 40대 2022 4월 음식점 기타 41
2022년 5월
여자 40대 2022 5월 서양식,아시아음식 99
여자 40대 2022 5월 카페,디저트 87
여자 40대 2022 5월 중식 66
여자 40대 2022 5월 분식 61
여자 40대 2022 5월 한식 79
여자 40대 2022 5월 주점 82
여자 40대 2022 5월 어류,해물 61
여자 40대 2022 5월 음식점 기타 41
2022년 6월
여자 40대 2022 6월 서양식,아시아음식 95
여자 40대 2022 6월 카페,디저트 81
여자 40대 2022 6월 중식 64
여자 40대 2022 6월 분식 60
여자 40대 2022 6월 한식 56
여자 40대 2022 6월 주점 76
여자 40대 2022 6월 어류,해물 56
여자 40대 2022 6월 음식점 기타 41
2022년 7월
여자 40대 2022 7월 서양식,아시아음식 100
여자 40대 2022 7월 카페,디저트 82
여자 40대 2022 7월 중식 68
여자 40대 2022 7월 분식 61
여자 40대 2022 7월 한식 59
여자 40대 2022 7월 주점 79
여자 40대 2022 7월 어류,해물 59
여자 40대 2022 7월 음식점 기타 46
50대
2021년 7월
여자 50대 2021 7월 카페,디저트 81
여자 50대 2021 7월 서양식,아시아음식 72
여자 50대 2021 7월 한식 58
여자 50대 2021 7월 중식 54
여자 50대 2021 7월 분식 59
여자 50대 2021 7월 어류,해물 48
여자 50대 2021 7월 주점 33
여자 50대 2021 7월 음식점 기타 54
2021년 8월
여자 50대 2021 8월 카페,디저트 84
여자 50대 2021 8월 서양식,아시아음식 71
여자 50대 2021 8월 한식 54
여자 50대 2021 8월 중식 54
여자 50대 2021 8월 분식 53
여자 50대 2021 8월 어류,해물 44
여자 50대 2021 8월 주점 28
여자 50대 2021 8월 음식점 기타 46
2021년 9월
여자 50대 2021 9월 카페,디저트 97
여자 50대 2021 9월 서양식,아시아음식 70
여자 50대 2021 9월 한식 51
여자 50대 2021 9월 중식 53
여자 50대 2021 9월 분식 52
여자 50대 2021 9월 어류,해물 49
여자 50대 2021 9월 주점 31
여자 50대 2021 9월 음식점 기타 46
2021년 10월
여자 50대 2021 10월 카페,디저트 89
여자 50대 2021 10월 서양식,아시아음식 78
여자 50대 2021 10월 한식 65
여자 50대 2021 10월 중식 60
여자 50대 2021 10월 분식 59
여자 50대 2021 10월 어류,해물 58
여자 50대 2021 10월 주점 37
여자 50대 2021 10월 음식점 기타 45
2021년 11월
여자 50대 2021 11월 카페,디저트 87
여자 50대 2021 11월 서양식,아시아음식 76
여자 50대 2021 11월 한식 63
여자 50대 2021 11월 중식 61
여자 50대 2021 11월 분식 54
여자 50대 2021 11월 어류,해물 60
여자 50대 2021 11월 주점 59
여자 50대 2021 11월 음식점 기타 48
2021년 12월
여자 50대 2021 12월 카페,디저트 96
여자 50대 2021 12월 서양식,아시아음식 74
여자 50대 2021 12월 한식 60
여자 50대 2021 12월 중식 60
여자 50대 2021 12월 분식 54
여자 50대 2021 12월 어류,해물 58
여자 50대 2021 12월 주점 52
여자 50대 2021 12월 음식점 기타 47
2022년 1월
여자 50대 2022 1월 카페,디저트 99
여자 50대 2022 1월 서양식,아시아음식 77
여자 50대 2022 1월 한식 58
여자 50대 2022 1월 중식 62
여자 50대 2022 1월 분식 56
여자 50대 2022 1월 어류,해물 56
여자 50대 2022 1월 주점 42
여자 50대 2022 1월 음식점 기타 51
2022년 2월
여자 50대 2022 2월 카페,디저트 81
여자 50대 2022 2월 서양식,아시아음식 64
여자 50대 2022 2월 한식 53
여자 50대 2022 2월 중식 50
여자 50대 2022 2월 분식 45
여자 50대 2022 2월 어류,해물 44
여자 50대 2022 2월 주점 34
여자 50대 2022 2월 음식점 기타 48
2022년 3월
여자 50대 2022 3월 카페,디저트 96
여자 50대 2022 3월 서양식,아시아음식 72
여자 50대 2022 3월 한식 61
여자 50대 2022 3월 중식 55
여자 50대 2022 3월 분식 56
여자 50대 2022 3월 어류,해물 51
여자 50대 2022 3월 주점 51
여자 50대 2022 3월 음식점 기타 54
2022년 4월
여자 50대 2022 4월 카페,디저트 97
여자 50대 2022 4월 서양식,아시아음식 86
여자 50대 2022 4월 한식 86
여자 50대 2022 4월 중식 62
여자 50대 2022 4월 분식 63
여자 50대 2022 4월 어류,해물 63
여자 50대 2022 4월 주점 70
여자 50대 2022 4월 음식점 기타 52
2022년 5월
여자 50대 2022 5월 카페,디저트 100
여자 50대 2022 5월 서양식,아시아음식 92
여자 50대 2022 5월 한식 83
여자 50대 2022 5월 중식 74
여자 50대 2022 5월 분식 69
여자 50대 2022 5월 어류,해물 72
여자 50대 2022 5월 주점 87
여자 50대 2022 5월 음식점 기타 60
2022년 6월
여자 50대 2022 6월 카페,디저트 92
여자 50대 2022 6월 서양식,아시아음식 90
여자 50대 2022 6월 한식 75
여자 50대 2022 6월 중식 71
여자 50대 2022 6월 분식 68
여자 50대 2022 6월 어류,해물 66
여자 50대 2022 6월 주점 88
여자 50대 2022 6월 음식점 기타 53
2022년 7월
여자 50대 2022 7월 카페,디저트 92
여자 50대 2022 7월 서양식,아시아음식 94
여자 50대 2022 7월 한식 85
여자 50대 2022 7월 중식 75
여자 50대 2022 7월 분식 70
여자 50대 2022 7월 어류,해물 67
여자 50대 2022 7월 주점 89
여자 50대 2022 7월 음식점 기타 62
60대이상
2021년 7월
여자 60대이상 2021 7월 카페,디저트 70
여자 60대이상 2021 7월 한식 55
여자 60대이상 2021 7월 중식 42
여자 60대이상 2021 7월 주점 23
여자 60대이상 2021 7월 어류,해물 33
여자 60대이상 2021 7월 서양식,아시아음식 36
여자 60대이상 2021 7월 분식 34
여자 60대이상 2021 7월 음식점 기타 23
2021년 8월
여자 60대이상 2021 8월 카페,디저트 74
여자 60대이상 2021 8월 한식 54
여자 60대이상 2021 8월 중식 42
여자 60대이상 2021 8월 주점 27
여자 60대이상 2021 8월 어류,해물 33
여자 60대이상 2021 8월 서양식,아시아음식 36
여자 60대이상 2021 8월 분식 32
여자 60대이상 2021 8월 음식점 기타 18
2021년 9월
여자 60대이상 2021 9월 카페,디저트 99
여자 60대이상 2021 9월 한식 65
여자 60대이상 2021 9월 중식 43
여자 60대이상 2021 9월 주점 24
여자 60대이상 2021 9월 어류,해물 38
여자 60대이상 2021 9월 서양식,아시아음식 37
여자 60대이상 2021 9월 분식 31
여자 60대이상 2021 9월 음식점 기타 19
2021년 10월
여자 60대이상 2021 10월 카페,디저트 79
여자 60대이상 2021 10월 한식 78
여자 60대이상 2021 10월 중식 50
여자 60대이상 2021 10월 주점 29
여자 60대이상 2021 10월 어류,해물 45
여자 60대이상 2021 10월 서양식,아시아음식 41
여자 60대이상 2021 10월 분식 35
여자 60대이상 2021 10월 음식점 기타 20
2021년 11월
여자 60대이상 2021 11월 카페,디저트 77
여자 60대이상 2021 11월 한식 64
여자 60대이상 2021 11월 중식 51
여자 60대이상 2021 11월 주점 49
여자 60대이상 2021 11월 어류,해물 42
여자 60대이상 2021 11월 서양식,아시아음식 41
여자 60대이상 2021 11월 분식 33
여자 60대이상 2021 11월 음식점 기타 24
2021년 12월
여자 60대이상 2021 12월 카페,디저트 89
여자 60대이상 2021 12월 한식 63
여자 60대이상 2021 12월 중식 47
여자 60대이상 2021 12월 주점 42
여자 60대이상 2021 12월 어류,해물 42
여자 60대이상 2021 12월 서양식,아시아음식 39
여자 60대이상 2021 12월 분식 32
여자 60대이상 2021 12월 음식점 기타 18
2022년 1월
여자 60대이상 2022 1월 카페,디저트 100
여자 60대이상 2022 1월 한식 70
여자 60대이상 2022 1월 중식 48
여자 60대이상 2022 1월 주점 34
여자 60대이상 2022 1월 어류,해물 40
여자 60대이상 2022 1월 서양식,아시아음식 40
여자 60대이상 2022 1월 분식 34
여자 60대이상 2022 1월 음식점 기타 22

2022년 2월
여자 60대이상 2022 2월 카페,디저트 77
여자 60대이상 2022 2월 한식 47
여자 60대이상 2022 2월 중식 40
여자 60대이상 2022 2월 주점 29
여자 60대이상 2022 2월 어류,해물 33
여자 60대이상 2022 2월 서양식,아시아음식 33
여자 60대이상 2022 2월 분식 27
여자 60대이상 2022 2월 음식점 기타 18
2022년 3월
여자 60대이상 2022 3월 카페,디저트 92
여자 60대이상 2022 3월 한식 95
여자 60대이상 2022 3월 중식 46
여자 60대이상 2022 3월 주점 42
여자 60대이상 2022 3월 어류,해물 39
여자 60대이상 2022 3월 서양식,아시아음식 39
여자 60대이상 2022 3월 분식 36
여자 60대이상 2022 3월 음식점 기타 23
2022년 4월
여자 60대이상 2022 4월 카페,디저트 95
여자 60대이상 2022 4월 한식 90
여자 60대이상 2022 4월 중식 50
여자 60대이상 2022 4월 주점 60
여자 60대이상 2022 4월 어류,해물 47
여자 60대이상 2022 4월 서양식,아시아음식 48
여자 60대이상 2022 4월 분식 39
여자 60대이상 2022 4월 음식점 기타 25
2022년 5월
여자 60대이상 2022 5월 카페,디저트 99
여자 60대이상 2022 5월 한식 93
여자 60대이상 2022 5월 중식 64
여자 60대이상 2022 5월 주점 75
여자 60대이상 2022 5월 어류,해물 57
여자 60대이상 2022 5월 서양식,아시아음식 52
여자 60대이상 2022 5월 분식 44
여자 60대이상 2022 5월 음식점 기타 26
2022년 6월
여자 60대이상 2022 6월 카페,디저트 90
여자 60대이상 2022 6월 한식 96
여자 60대이상 2022 6월 중식 61
여자 60대이상 2022 6월 주점 69
여자 60대이상 2022 6월 어류,해물 53
여자 60대이상 2022 6월 서양식,아시아음식 51
여자 60대이상 2022 6월 분식 43
여자 60대이상 2022 6월 음식점 기타 24
2022년 7월
여자 60대이상 2022 7월 카페,디저트 88
여자 60대이상 2022 7월 한식 96
여자 60대이상 2022 7월 중식 63
여자 60대이상 2022 7월 주점 73
여자 60대이상 2022 7월 어류,해물 47
여자 60대이상 2022 7월 서양식,아시아음식 53
여자 60대이상 2022 7월 분식 43
여자 60대이상 2022 7월 음식점 기타 26

### 관심도 데이터

In [16]:
# 1. 라이브러리 가져오기
import pymysql

# 2. 접속하기
db = pymysql.connect(host='localhost', port=3306, user='root', passwd='08250504', db='mywork', charset='utf8')

# 3. 커서 가져오기
cursor = db.cursor()

# 4. SQL 구문 만들기 (CRUD SQL 구문 등)
sql = """create table interest
       (year1 int not null,
       month1 int not null, 
       category varchar(20) not null, 
       value int not null);"""

# 5. SQL 구문 실행하기
cursor.execute(sql)

# 6. DB에 Complete 하기
db.commit()

# 7. DB 연결 닫기
db.close()

In [6]:
from selenium import webdriver
import pymysql
import time

link = 'https://datalab.naver.com/local/card_result.naver'
area_btn_xpath = '//*[@id="content"]/div[1]/div[1]/div/h3[1]/a'
area2_btn_xpath = '//*[@id="content"]/div[4]/div[2]/form/fieldset/div[1]/strong[2]/a'
search_btn_xpath = '//a[@class="com_btn_srch"]'



driver = webdriver.Chrome('./chromedriver')
driver.get(link)

driver.find_element_by_xpath(area_btn_xpath).click()
driver.find_element_by_xpath(area2_btn_xpath).click()
time.sleep(5)

# 지역 선택
for i in range(1,2):
    area_option_xpath = '((//div[@class="analysis_filter"]/div[@class="filter_area"])[1]/div[@class="filter_option scroll_cst"]/ul[@class="option_list _list1"]/li)[' + str(i) + ']'
    driver.find_element_by_xpath(area_option_xpath).click()
    
    area = driver.find_element_by_xpath(area_option_xpath + '/a').text
    print(area)

    if i == 1:
        industry_option_xpath = '((//div[@class="analysis_step v2"]/div[@class="analysis_filter"]/div[@class="filter_area"])[1]/div[@class="filter_option scroll_cst"]/ul/li)[2]/span/label'
        industry_all_option_xpath = '((//div[@class="analysis_step v2"]/div[@class="analysis_filter"]/div[@class="filter_area"])[2]/div[@class="filter_option scroll_cst"]/ul/li)[1]/span/label'
        driver.find_element_by_xpath(industry_option_xpath).click()
        time.sleep(3)
        driver.find_element_by_xpath(industry_all_option_xpath).click()

   
            # 조회 버튼 클릭
    driver.find_element_by_xpath(search_btn_xpath).click()

            # 그래프 월별 선택
    for l in range(1, 58):
        time.sleep(2)
        graph_click_xpath = '(//div[@class="section_graph"]/div[@class="com_box_inner"]/div[@class="graph_area"]/div[@class="inner_graph_area _trend_graph bb"]/*[name()="svg"]/*[name()="g"]/*[name()="g" and @class="bb-chart"]/*[name()="g" and @class="bb-event-rects bb-event-rects-single"]/*[name()="rect"])[' + str(l) + ']'
        driver.find_element_by_xpath(graph_click_xpath).click()
                
        period = driver.find_element_by_xpath('//div[@class="tooltip_period"]').text
               

        print(period)

                # 그래프 내의 카테고리별 값 가져오기
        for m in range(1, 11):
            category_xpath = '(//div[@class="graph_tooltip"]/div[@class="tooltip"])[' + str(m) + ']'
            category = driver.find_element_by_xpath(category_xpath + '/span[@class="info"]').text
            value = driver.find_element_by_xpath(category_xpath + '/span[@class="value"]').text

            a=period.split('. ')
            year1 = a[0]
            month1 = a[1]
                    
            print(year1,month1, category, value)
                
            db = pymysql.connect(host='127.0.0.1', port=3306, user='root', passwd='08250504', db='mywork', charset='utf8')

            cursor = db.cursor()
            sql = """INSERT INTO interest VALUES(
                    '{}','{}','{}','{}');""".format(year1,month1, category, value)
            cursor.execute(sql)
            db.commit()
            db.close()

서울특별시
2021. 7. 11. 주간
2021 7월 한식 58
2021 7월 카페,디저트 21
2021 7월 분식 20
2021 7월 어류,해물 13
2021 7월 일식 15
2021 7월 서양식,아시아음식 13
2021 7월 중식 11
2021 7월 주점 7
2021 7월 음식점 기타 5
2021 7월 치킨 3
2021. 7. 18. 주간
2021 7월 한식 63
2021 7월 카페,디저트 22
2021 7월 분식 22
2021 7월 어류,해물 15
2021 7월 일식 15
2021 7월 서양식,아시아음식 13
2021 7월 중식 11
2021 7월 주점 8
2021 7월 음식점 기타 6
2021 7월 치킨 5
2021. 7. 25. 주간
2021 7월 한식 63
2021 7월 카페,디저트 23
2021 7월 분식 21
2021 7월 어류,해물 14
2021 7월 일식 15
2021 7월 서양식,아시아음식 14
2021 7월 중식 12
2021 7월 주점 8
2021 7월 음식점 기타 7
2021 7월 치킨 7
2021. 8. 1. 주간
2021 8월 한식 63
2021 8월 카페,디저트 23
2021 8월 분식 24
2021 8월 어류,해물 15
2021 8월 일식 17
2021 8월 서양식,아시아음식 16
2021 8월 중식 12
2021 8월 주점 8
2021 8월 음식점 기타 8
2021 8월 치킨 4
2021. 8. 8. 주간
2021 8월 한식 62
2021 8월 카페,디저트 22
2021 8월 분식 18
2021 8월 어류,해물 15
2021 8월 일식 15
2021 8월 서양식,아시아음식 15
2021 8월 중식 11
2021 8월 주점 8
2021 8월 음식점 기타 7
2021 8월 치킨 3
2021. 8. 15. 주간
2021 8월 한식 61
2021 8월 카페,디저트 22
2021 8월 분식 20
2021 8월 어류,해물 14
2021 8월 일식 15
2021 8월 서양식,아시아음식 16
2021 8월 중식 12
2021 8월 주점 8
2021 8월 음식점 기타 7
2021 8월 치킨 3
2021. 8. 22. 주간
2021 8월 한식 59
2021 8월 카페,디저트 20
2021 8월 분식 17
2021 8월 어류,해물 13
2021 8월 일식 15
2021 8월 서양식,아시아음식 15
2021 8월 중식 12
2021 8월 주점 8
2021 8월 음식점 기타 7
2021 8월 치킨 2
2021. 8. 29. 주간
2021 8월 한식 56
2021 8월 카페,디저트 19
2021 8월 분식 17
2021 8월 어류,해물 14
2021 8월 일식 15
2021 8월 서양식,아시아음식 15
2021 8월 중식 11
2021 8월 주점 7
2021 8월 음식점 기타 7
2021 8월 치킨 2
2021. 9. 5. 주간
2021 9월 한식 61
2021 9월 카페,디저트 20
2021 9월 분식 17
2021 9월 어류,해물 16
2021 9월 일식 17
2021 9월 서양식,아시아음식 15
2021 9월 중식 12
2021 9월 주점 8
2021 9월 음식점 기타 7
2021 9월 치킨 3
2021. 9. 12. 주간
2021 9월 한식 58
2021 9월 카페,디저트 21
2021 9월 분식 17
2021 9월 어류,해물 16
2021 9월 일식 16
2021 9월 서양식,아시아음식 15
2021 9월 중식 12
2021 9월 주점 8
2021 9월 음식점 기타 7
2021 9월 치킨 2
2021. 9. 19. 주간
2021 9월 한식 63
2021 9월 카페,디저트 22
2021 9월 분식 19
2021 9월 어류,해물 17
2021 9월 일식 16
2021 9월 서양식,아시아음식 17
2021 9월 중식 14
2021 9월 주점 9
2021 9월 음식점 기타 8
2021 9월 치킨 3
2021. 9. 26. 주간
2021 9월 한식 57
2021 9월 카페,디저트 19
2021 9월 분식 17
2021 9월 어류,해물 15
2021 9월 일식 16
2021 9월 서양식,아시아음식 16
2021 9월 중식 12
2021 9월 주점 8
2021 9월 음식점 기타 7
2021 9월 치킨 2
2021. 10. 3. 주간
2021 10월 한식 64
2021 10월 카페,디저트 21
2021 10월 분식 18
2021 10월 어류,해물 17
2021 10월 일식 16
2021 10월 서양식,아시아음식 17
2021 10월 중식 12
2021 10월 주점 10
2021 10월 음식점 기타 9
2021 10월 치킨 2
2021. 10. 10. 주간
2021 10월 한식 65
2021 10월 카페,디저트 21
2021 10월 분식 19
2021 10월 어류,해물 18
2021 10월 일식 17
2021 10월 서양식,아시아음식 17
2021 10월 중식 12
2021 10월 주점 10
2021 10월 음식점 기타 9
2021 10월 치킨 2
2021. 10. 17. 주간
2021 10월 한식 64
2021 10월 카페,디저트 19
2021 10월 분식 17
2021 10월 어류,해물 19
2021 10월 일식 17
2021 10월 서양식,아시아음식 16
2021 10월 중식 12
2021 10월 주점 10
2021 10월 음식점 기타 10
2021 10월 치킨 2
2021. 10. 24. 주간
2021 10월 한식 67
2021 10월 카페,디저트 20
2021 10월 분식 17
2021 10월 어류,해물 20
2021 10월 일식 18
2021 10월 서양식,아시아음식 18
2021 10월 중식 13
2021 10월 주점 11
2021 10월 음식점 기타 10
2021 10월 치킨 2
2021. 10. 31. 주간
2021 10월 한식 70
2021 10월 카페,디저트 21
2021 10월 분식 17
2021 10월 어류,해물 22
2021 10월 일식 18
2021 10월 서양식,아시아음식 19
2021 10월 중식 13
2021 10월 주점 15
2021 10월 음식점 기타 11
2021 10월 치킨 2
2021. 11. 7. 주간
2021 11월 한식 71
2021 11월 카페,디저트 22
2021 11월 분식 17
2021 11월 어류,해물 22
2021 11월 일식 18
2021 11월 서양식,아시아음식 19
2021 11월 중식 15
2021 11월 주점 15
2021 11월 음식점 기타 12
2021 11월 치킨 2
2021. 11. 14. 주간
2021 11월 한식 66
2021 11월 카페,디저트 21
2021 11월 분식 16
2021 11월 어류,해물 22
2021 11월 일식 18
2021 11월 서양식,아시아음식 18
2021 11월 중식 13
2021 11월 주점 14
2021 11월 음식점 기타 12
2021 11월 치킨 2
2021. 11. 21. 주간
2021 11월 한식 70
2021 11월 카페,디저트 22
2021 11월 분식 17
2021 11월 어류,해물 22
2021 11월 일식 18
2021 11월 서양식,아시아음식 18
2021 11월 중식 12
2021 11월 주점 14
2021 11월 음식점 기타 12
2021 11월 치킨 2
2021. 11. 28. 주간
2021 11월 한식 64
2021 11월 카페,디저트 24
2021 11월 분식 17
2021 11월 어류,해물 22
2021 11월 일식 17
2021 11월 서양식,아시아음식 19
2021 11월 중식 13
2021 11월 주점 14
2021 11월 음식점 기타 12
2021 11월 치킨 2
2021. 12. 5. 주간
2021 12월 한식 64
2021 12월 카페,디저트 25
2021 12월 분식 16
2021 12월 어류,해물 22
2021 12월 일식 18
2021 12월 서양식,아시아음식 18
2021 12월 중식 13
2021 12월 주점 13
2021 12월 음식점 기타 11
2021 12월 치킨 2
2021. 12. 12. 주간
2021 12월 한식 61
2021 12월 카페,디저트 27
2021 12월 분식 17
2021 12월 어류,해물 20
2021 12월 일식 17
2021 12월 서양식,아시아음식 19
2021 12월 중식 13
2021 12월 주점 13
2021 12월 음식점 기타 11
2021 12월 치킨 3
2021. 12. 19. 주간
2021 12월 한식 56
2021 12월 카페,디저트 31
2021 12월 분식 18
2021 12월 어류,해물 20
2021 12월 일식 17
2021 12월 서양식,아시아음식 22
2021 12월 중식 12
2021 12월 주점 10
2021 12월 음식점 기타 12
2021 12월 치킨 2
2021. 12. 26. 주간
2021 12월 한식 71
2021 12월 카페,디저트 25
2021 12월 분식 22
2021 12월 어류,해물 21
2021 12월 일식 15
2021 12월 서양식,아시아음식 16
2021 12월 중식 13
2021 12월 주점 10
2021 12월 음식점 기타 11
2021 12월 치킨 3
2022. 1. 2. 주간
2022 1월 한식 56
2022 1월 카페,디저트 21
2022 1월 분식 17
2022 1월 어류,해물 17
2022 1월 일식 16
2022 1월 서양식,아시아음식 15
2022 1월 중식 12
2022 1월 주점 10
2022 1월 음식점 기타 10
2022 1월 치킨 2
2022. 1. 9. 주간
2022 1월 한식 60
2022 1월 카페,디저트 21
2022 1월 분식 17
2022 1월 어류,해물 17
2022 1월 일식 17
2022 1월 서양식,아시아음식 16
2022 1월 중식 12
2022 1월 주점 10
2022 1월 음식점 기타 10
2022 1월 치킨 2
2022. 1. 16. 주간
2022 1월 한식 61
2022 1월 카페,디저트 22
2022 1월 분식 17
2022 1월 어류,해물 18
2022 1월 일식 17
2022 1월 서양식,아시아음식 16
2022 1월 중식 13
2022 1월 주점 10
2022 1월 음식점 기타 11
2022 1월 치킨 2
2022. 1. 23. 주간
2022 1월 한식 56
2022 1월 카페,디저트 21
2022 1월 분식 16
2022 1월 어류,해물 16
2022 1월 일식 16
2022 1월 서양식,아시아음식 15
2022 1월 중식 12
2022 1월 주점 10
2022 1월 음식점 기타 10
2022 1월 치킨 2
2022. 1. 30. 주간
2022 1월 한식 59
2022 1월 카페,디저트 23
2022 1월 분식 18
2022 1월 어류,해물 16
2022 1월 일식 15
2022 1월 서양식,아시아음식 16
2022 1월 중식 14
2022 1월 주점 10
2022 1월 음식점 기타 9
2022 1월 치킨 3
2022. 2. 6. 주간
2022 2월 한식 52
2022 2월 카페,디저트 23
2022 2월 분식 15
2022 2월 어류,해물 16
2022 2월 일식 15
2022 2월 서양식,아시아음식 15
2022 2월 중식 12
2022 2월 주점 9
2022 2월 음식점 기타 9
2022 2월 치킨 2
2022. 2. 13. 주간
2022 2월 한식 54
2022 2월 카페,디저트 21
2022 2월 분식 16
2022 2월 어류,해물 15
2022 2월 일식 15
2022 2월 서양식,아시아음식 14
2022 2월 중식 12
2022 2월 주점 9
2022 2월 음식점 기타 8
2022 2월 치킨 2
2022. 2. 20. 주간
2022 2월 한식 55
2022 2월 카페,디저트 19
2022 2월 분식 15
2022 2월 어류,해물 15
2022 2월 일식 15
2022 2월 서양식,아시아음식 14
2022 2월 중식 12
2022 2월 주점 10
2022 2월 음식점 기타 8
2022 2월 치킨 2
2022. 2. 27. 주간
2022 2월 한식 60
2022 2월 카페,디저트 20
2022 2월 분식 16
2022 2월 어류,해물 16
2022 2월 일식 15
2022 2월 서양식,아시아음식 15
2022 2월 중식 12
2022 2월 주점 10
2022 2월 음식점 기타 8
2022 2월 치킨 2
2022. 3. 6. 주간
2022 3월 한식 60
2022 3월 카페,디저트 21
2022 3월 분식 17
2022 3월 어류,해물 16
2022 3월 일식 17
2022 3월 서양식,아시아음식 14
2022 3월 중식 12
2022 3월 주점 11
2022 3월 음식점 기타 8
2022 3월 치킨 3
2022. 3. 13. 주간
2022 3월 한식 61
2022 3월 카페,디저트 20
2022 3월 분식 17
2022 3월 어류,해물 15
2022 3월 일식 15
2022 3월 서양식,아시아음식 13
2022 3월 중식 12
2022 3월 주점 11
2022 3월 음식점 기타 9
2022 3월 치킨 3
2022. 3. 20. 주간
2022 3월 한식 64
2022 3월 카페,디저트 19
2022 3월 분식 17
2022 3월 어류,해물 17
2022 3월 일식 16
2022 3월 서양식,아시아음식 14
2022 3월 중식 11
2022 3월 주점 12
2022 3월 음식점 기타 8
2022 3월 치킨 3
2022. 3. 27. 주간
2022 3월 한식 67
2022 3월 카페,디저트 21
2022 3월 분식 18
2022 3월 어류,해물 19
2022 3월 일식 17
2022 3월 서양식,아시아음식 16
2022 3월 중식 12
2022 3월 주점 12
2022 3월 음식점 기타 10
2022 3월 치킨 3
2022. 4. 3. 주간
2022 4월 한식 71
2022 4월 카페,디저트 22
2022 4월 분식 19
2022 4월 어류,해물 18
2022 4월 일식 18
2022 4월 서양식,아시아음식 19
2022 4월 중식 12
2022 4월 주점 13
2022 4월 음식점 기타 10
2022 4월 치킨 3
2022. 4. 10. 주간
2022 4월 한식 75
2022 4월 카페,디저트 22
2022 4월 분식 19
2022 4월 어류,해물 19
2022 4월 일식 18
2022 4월 서양식,아시아음식 18
2022 4월 중식 13
2022 4월 주점 14
2022 4월 음식점 기타 10
2022 4월 치킨 3
2022. 4. 17. 주간
2022 4월 한식 80
2022 4월 카페,디저트 22
2022 4월 분식 21
2022 4월 어류,해물 19
2022 4월 일식 18
2022 4월 서양식,아시아음식 18
2022 4월 중식 15
2022 4월 주점 16
2022 4월 음식점 기타 11
2022 4월 치킨 3
2022. 4. 24. 주간
2022 4월 한식 84
2022 4월 카페,디저트 22
2022 4월 분식 20
2022 4월 어류,해물 20
2022 4월 일식 19
2022 4월 서양식,아시아음식 19
2022 4월 중식 13
2022 4월 주점 18
2022 4월 음식점 기타 12
2022 4월 치킨 3
2022. 5. 1. 주간
2022 5월 한식 100
2022 5월 카페,디저트 25
2022 5월 분식 23
2022 5월 어류,해물 22
2022 5월 일식 23
2022 5월 서양식,아시아음식 22
2022 5월 중식 16
2022 5월 주점 18
2022 5월 음식점 기타 15
2022 5월 치킨 3
2022. 5. 8. 주간
2022 5월 한식 83
2022 5월 카페,디저트 23
2022 5월 분식 22
2022 5월 어류,해물 20
2022 5월 일식 19
2022 5월 서양식,아시아음식 19
2022 5월 중식 13
2022 5월 주점 18
2022 5월 음식점 기타 11
2022 5월 치킨 3
2022. 5. 15. 주간
2022 5월 한식 81
2022 5월 카페,디저트 22
2022 5월 분식 22
2022 5월 어류,해물 19
2022 5월 일식 19
2022 5월 서양식,아시아음식 19
2022 5월 중식 13
2022 5월 주점 17
2022 5월 음식점 기타 10
2022 5월 치킨 3
2022. 5. 22. 주간
2022 5월 한식 79
2022 5월 카페,디저트 21
2022 5월 분식 19
2022 5월 어류,해물 19
2022 5월 일식 18
2022 5월 서양식,아시아음식 17
2022 5월 중식 13
2022 5월 주점 16
2022 5월 음식점 기타 10
2022 5월 치킨 3
2022. 5. 29. 주간
2022 5월 한식 82
2022 5월 카페,디저트 23
2022 5월 분식 21
2022 5월 어류,해물 19
2022 5월 일식 18
2022 5월 서양식,아시아음식 18
2022 5월 중식 13
2022 5월 주점 16
2022 5월 음식점 기타 11
2022 5월 치킨 3

2022. 6. 5. 주간
2022 6월 한식 78
2022 6월 카페,디저트 22
2022 6월 분식 21
2022 6월 어류,해물 19
2022 6월 일식 18
2022 6월 서양식,아시아음식 17
2022 6월 중식 13
2022 6월 주점 15
2022 6월 음식점 기타 10
2022 6월 치킨 3
2022. 6. 12. 주간
2022 6월 한식 78
2022 6월 카페,디저트 22
2022 6월 분식 20
2022 6월 어류,해물 18
2022 6월 일식 18
2022 6월 서양식,아시아음식 17
2022 6월 중식 13
2022 6월 주점 17
2022 6월 음식점 기타 11
2022 6월 치킨 3
2022. 6. 19. 주간
2022 6월 한식 81
2022 6월 카페,디저트 22
2022 6월 분식 21
2022 6월 어류,해물 18
2022 6월 일식 18
2022 6월 서양식,아시아음식 17
2022 6월 중식 13
2022 6월 주점 18
2022 6월 음식점 기타 11
2022 6월 치킨 3
2022. 6. 26. 주간
2022 6월 한식 79
2022 6월 카페,디저트 22
2022 6월 분식 20
2022 6월 어류,해물 17
2022 6월 일식 17
2022 6월 서양식,아시아음식 17
2022 6월 중식 14
2022 6월 주점 18
2022 6월 음식점 기타 11
2022 6월 치킨 3
2022. 7. 3. 주간
2022 7월 한식 80
2022 7월 카페,디저트 23
2022 7월 분식 20
2022 7월 어류,해물 18
2022 7월 일식 18
2022 7월 서양식,아시아음식 17
2022 7월 중식 14
2022 7월 주점 17
2022 7월 음식점 기타 11
2022 7월 치킨 3
2022. 7. 10. 주간
2022 7월 한식 89
2022 7월 카페,디저트 22
2022 7월 분식 20
2022 7월 어류,해물 17
2022 7월 일식 18
2022 7월 서양식,아시아음식 19
2022 7월 중식 13
2022 7월 주점 16
2022 7월 음식점 기타 11
2022 7월 치킨 3
2022. 7. 17. 주간
2022 7월 한식 80
2022 7월 카페,디저트 22
2022 7월 분식 20
2022 7월 어류,해물 17
2022 7월 일식 19
2022 7월 서양식,아시아음식 18
2022 7월 중식 13
2022 7월 주점 15
2022 7월 음식점 기타 10
2022 7월 치킨 3
2022. 7. 24. 주간
2022 7월 한식 82
2022 7월 카페,디저트 23
2022 7월 분식 22
2022 7월 어류,해물 18
2022 7월 일식 20
2022 7월 서양식,아시아음식 17
2022 7월 중식 14
2022 7월 주점 15
2022 7월 음식점 기타 11
2022 7월 치킨 3
2022. 7. 31. 주간
2022 7월 한식 83
2022 7월 카페,디저트 24
2022 7월 분식 23
2022 7월 어류,해물 18
2022 7월 일식 20
2022 7월 서양식,아시아음식 18
2022 7월 중식 15
2022 7월 주점 15
2022 7월 음식점 기타 12
2022 7월 치킨 3
2022. 8. 7. 주간
2022 8월 한식 77
2022 8월 카페,디저트 21
2022 8월 분식 21
2022 8월 어류,해물 17
2022 8월 일식 17
2022 8월 서양식,아시아음식 16
2022 8월 중식 14
2022 8월 주점 14
2022 8월 음식점 기타 11
2022 8월 치킨 3